$module: ud-grid;

.#{$module} {
  flex-grow: 1;

  &-row {
    display: flex;
  }

  @each $var, $align in (top, flex-start), (middle, center), (bottom, flex-end) {
    &-row-align-#{$var} {
      align-items: $align;
    }
  }

  @each $var, $value in (start, start), (end, flex-end), (center, center), (space-around, space-around), (space-between, space-between), (space-evenly, space-evenly) {
    &-row-justify-#{$var} {
      justify-content: $value;
    }
  }

  &-row-wrap {
    flex-wrap: wrap;
  }

  &-col-span-0 {
    display: none;
  }
}
