$module: ud-row;

.#{$module} {
  display: flex;
  flex-grow: 1;

  @each $var, $align in (top, flex-start), (middle, center), (bottom, flex-end) {
    &-#{$var} {
      align-items: $align;
    }
  }

  @each $var in start, end, center, space-around, space-between, space-evenly {
    &-#{$var} {
      justify-content: $var;
    }
  }

  &-wrap {
    flex-wrap: wrap;
  }
}
