@import './variables.scss';

$module: ud-tag;

.#{$module} {
  background: $tag-background;
  color: $tag-color;
  border: $tag-border;
  border-radius: $tag-border-radius;

  box-sizing: border-box;
  position: relative;
  user-select: none;
  overflow: hidden;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;

  // size
  &-small {
    font-size: $tag-font-size-small;
    height: $tag-height-small;
    line-height: $tag-height-small;
    padding: $tag-padding-small;
  }
  &-middle {
    font-size: $tag-font-size-middle;
    height: $tag-height-middle;
    line-height: $tag-height-middle;
    padding: $tag-padding-middle;
  }
  &-large {
    font-size: $tag-font-size-large;
    height: $tag-height-large;
    line-height: $tag-height-large;
    padding: $tag-padding-large;
  }

  $colors: red, orange, yellow, green, cyan, blue, purple;
  @each $color in $colors {
    &-#{'' + $color} {
      background: rgba(var(--ud-#{$color}-1), 1);
      border-color: rgba(var(--ud-#{$color}-2), 1);
      color: rgba(var(--ud-#{$color}-6), 1);
    }
  }

  .#{$module}-close-icon {
    margin: $tag-close-icon-margin;
    color: $tag-close-icon-color;
    font-weight: bold;
    vertical-align: middle;
    cursor: pointer;
  }

  &-hidden {
    display: none;
  }
}
.#{$module}-checkable {
  background: $tag-checkable-background;
  color: $tag-checkable-color;
  border: $tag-checkable-border;
  cursor: pointer;

  &:hover:not(.#{$module}-checkable-active) {
    background: $tag-checkable-background-hover;
    color:$tag-checkable-color-hover;
    border: $tag-checkable-border-hover;
  }

  &-active {
    background: $tag-checkable-background-active;
    color:$tag-checkable-color-active;
    border: $tag-checkable-border-active;
  }
}
