@import './variables.scss';
@import '../../global/mixin.scss';

$module: ud-dropdown;

.#{$module} {
  max-width: $dropdown-max-width;
  background: $dropdown-background;
  box-shadow: $dropdown-box-shadow;
  border-radius: $dropdown-border-radius;
  overflow: hidden;

  &-topLeft {
    --arrow-rotate: 0;
    --arrow-translate-x: 0;
    --arrow-translate-y: 0;
  }
  &-top {
    --arrow-rotate: 0;
    --arrow-translate-x: -50%;
    --arrow-translate-y: 0;
  }
  &-topRight {
    --arrow-rotate: 0;
    --arrow-translate-x: 0;
    --arrow-translate-y: 0;
  }

  &-bottomLeft {
    --arrow-rotate: 180deg;
    --arrow-translate-x: 0;
    --arrow-translate-y: 0;
  }
  &-bottom {
    --arrow-rotate: 180deg;
    --arrow-translate-x: -50%;
    --arrow-translate-y: 0;
  }
  &-bottomRight {
    --arrow-rotate: 180deg;
    --arrow-translate-x: 0;
    --arrow-translate-y: 0;
  }

  &-leftTop {
    --arrow-rotate: 0;
    --arrow-translate-x: 0;
    --arrow-translate-y: 0;
  }
  &-left {
    --arrow-rotate: 0;
    --arrow-translate-x: 0;
    --arrow-translate-y: -50%;
  }
  &-leftBottom {
    --arrow-rotate: 0;
    --arrow-translate-x: 0;
    --arrow-translate-y: 0;
  }

  &-rightTop {
    --arrow-rotate: 180deg;
    --arrow-translate-x: 0;
    --arrow-translate-y: 0;
  }
  &-right {
    --arrow-rotate: 180deg;
    --arrow-translate-x: 0;
    --arrow-translate-y: -50%;
  }
  &-rightBottom {
    --arrow-rotate: 180deg;
    --arrow-translate-x: 0;
    --arrow-translate-y: 0;
  }

  &-arrow {
    position: absolute;
    color: $dropdown-background;
    transform: translate(var(--arrow-translate-x), var(--arrow-translate-y)) rotate(var(--arrow-rotate));
  }

  &-menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-item {
    display: flex;
    align-items: center;
    padding: $dropdown-item-padding;
    font-size: $dropdown-item-font-size;
    font-weight: $dropdown-item-font-weight;
    color: $dropdown-item-color;
    cursor: pointer;
    @include truncate;

    &-icon {
      display: flex;
      align-items: center;
      margin: $dropdown-item-icon-margin;
    }

    &-danger {
      background: $dropdown-item-danger-background;
      color: $dropdown-item-danger-color;
      &:hover {
        background: $dropdown-item-danger-background-hover;
        color: $dropdown-item-danger-color-hover;
      }
    }

    &:hover:not(&-disabled):not(&-danger) {
      background: $dropdown-item-background-hover;
      color: $dropdown-item-color-hover;
    }

    &-disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
