@import './variables.scss';

$module: ud-date-panel;
.#{$module} {
  width: $date-panel-width;
  padding: $date-panel-padding;
  margin: $date-panel-margin;
  box-sizing: border-box;
  color: $date-panel-color;

  // panel-header
  .#{$module}-year-number {
    font-size: $date-panel-year-number-font-size;
    color: $date-panel-year-number-color;
    height: $date-panel-year-number-height;
    line-height: $date-panel-year-number-line-height;
    .#{$module}-year {
      margin-left: $date-panel-year-margin-left;
    }
  }

  // panel-body
  .#{$module}-content {
    display: flex;
    flex-wrap: wrap;
    padding: 0 12px;
  }
  .#{$module}-week-box {
    height: $date-panel-week-box-height;
    display: flex;
    width: 100%;
    .#{$module}-week-days {
      width: $date-panel-week-days-width;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .#{$module}-date-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .#{$module}-month-days {
      width: $date-panel-month-days-width;
      text-align: center;
      display: flex;
      justify-content: center;
      margin: $date-panel-month-days-margin;
      cursor: pointer;
      margin: 0 0 10px;
      padding: 0;
    }
    .other-month-days {
      opacity: 0.7;
    }
    .disabled-month-days{
      opacity: 0.5;
      cursor: default;
       color: $date-panel-other-month-days-color;
      .date-text{
        &:hover{
          background: none;
          border-radius: 0;
          cursor: default;
        }
      }
    }
    .range-day-active {
     background: $date-panel-range-day-active-background;
     color: #fff;
    }
    .range-day-selected-start, .range-day-selected-end{
       background: $date-panel-selected-day-active-background;
       color: $date-panel-selected-day-active-color;
      }
    .range-day-selected-end{
      border-top-right-radius: $date-panel-range-day-selected-radius;
      border-bottom-right-radius: $date-panel-range-day-selected-radius;
    }
    .range-day-selected-start{
      border-top-left-radius: $date-panel-range-day-selected-radius;
      border-bottom-left-radius: $date-panel-range-day-selected-radius;
    }

    .date-text {
      text-align: center;
      line-height: $date-panel-date-text-line-height;
      width: $date-panel-date-text-width;
      height: $date-panel-date-text-height;
      cursor: pointer;
      font-size: $date-panel-date-text-font-size;
      &:hover {
        background: rgba(0, 0,0,0.1);
        border-radius: $date-panel-date-text-hover-border-radius;
      }
      &.now-day-active{
        border: 1px solid $date-panel-now-day-border-color;
        border-radius: $date-panel-date-text-hover-border-radius;
      }
      &.selected-day-active {
        border: none;
        // border-radius: $date-panel-selected-day-active-border-radius;
        background: $date-panel-selected-day-active-background;
        color: $date-panel-selected-day-active-color;
        border-radius: $date-panel-date-text-hover-border-radius;
        font-weight: 500;
      }
    }
    
  } 
  .tody_box{
    padding: 16px 0 10px;
    line-height: 28px;
    text-align: center;
    color: $date-panel-tody-color;
    border-top: 1px solid #ddd;
    margin-top: 6px;
    font-weight: 500;
    cursor: pointer;
  }
}


