@import './variables.scss';

$module: ud-progress;

.#{$module} {
  display: flex;
  align-items: center;

  &-line {
    width: 100%;
    margin: $progress-line-margin;

    &.#{$module}-small {
      height: $progress-line-height-small;
    }

    &.#{$module}-middle {
      height: $progress-line-height-middle;
    }

    &.#{$module}-large {
      height: $progress-line-height-large;
    }

    .#{$module}-track {
      height: 100%;
      width: 100%;
      background: $progress-track-background;
      border-radius: $progress-track-border-radius;
      overflow: hidden;
    }

    .#{$module}-track-inner {
      height: 100%;
      background: $progress-track-inner-background-normal;
      border-radius: $progress-track-inner-border-radius;
      transition: width $progress-transition-duration;
      transition-timing-function: $progress-transition-timing-function;
    }

    .#{$module}-text {
      color: $progress-text-color-normal;
      min-width: $progress-line-text-min-width;
      font-weight: $progress-line-text-font-weight;
      margin: $progress-line-text-margin;
    }
  }

  &-circle {
    position: relative;
    display: inline-block;

    .#{$module}-track {
      display: block;
    }

    .#{$module}-track-inner {
      transition: stroke-dashoffset $progress-transition-duration;
      transition-timing-function: $progress-transition-timing-function;
      transform: rotate(-90deg);
      transform-origin: 50% 50%;
    }

    .#{$module}-text {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      text-align: center;
      transform: translate(-50%, -50%);
      user-select: none;
      font-weight: $progress-circle-text-font-weight;
    }
  }

  // 不同尺寸
  &.#{$module}-small {
    .#{$module}-text {
      font-size: $progress-text-font-size-small;
    }
  }
  &.#{$module}-middle {
    .#{$module}-text {
      font-size: $progress-text-font-size-middle;
    }
  }
  &.#{$module}-large {
    .#{$module}-text {
      font-size: $progress-text-font-size-large;
    }
  }

  // 不同状态
  &.#{$module}-success {
    .#{$module}-track-inner {
      background: $progress-track-inner-background-success;
      stroke: $progress-track-inner-background-success;
    }
    .#{$module}-text {
      color: $progress-text-color-success;
    }
  }
  &.#{$module}-error {
    .#{$module}-track-inner {
      background: $progress-track-inner-background-error;
      stroke: $progress-track-inner-background-error;
    }
    .#{$module}-text {
      color: $progress-text-color-error;
    }
  }
  &.#{$module}-warning {
    .#{$module}-track-inner {
      background: $progress-track-inner-background-warning;
      stroke: $progress-track-inner-background-warning;
    }
    .#{$module}-text {
      color: $progress-text-color-warning;
    }
  }
}
