@import './variables.scss';

$module: ud-empty;

.#{$module} {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-image {
    display: flex;
    justify-content: center;
  }
  &-description {
    margin: $empty-description-margin;
    font-size: $empty-description-font-size;
    color: $empty-description-color;
    text-align: center;
  }
  &-footer {
    margin: $empty-footer-margin;
  }
}
