@import './variables.scss';
$module: ud-empty;

.#{$module} {
  border-radius: $empty-border-radius;
  padding: $empty-padding;
  text-align: center;
  &-image {
    width: $empty-image-width;
    padding: $empty-image-padding;
    margin: 0 auto;
  }
  &-text {
    color: $empty-font-color;
    font-size: $empty-font-size;
  }
}