@import '../../global/mixin.scss';

$module: ud-menu;

.#{$module} {
  --item-padding: var(--ud-menu-item-padding, 16px);
  --item-background: var(--ud-menu-item-background, var(--ud-color-white));
  --item-background-active: var(--ud-menu-item-background-active, rgba(var(--ud-purple-2), 1));
  --item-color-active: var(--ud-menu-item-color-active, var(--ud-color-primary));
  --item-background-hover: var(--ud-menu-item-background-hover, var(--item-background-active));
  --item-color-hover: var(--ud-menu-item-color-hover, var(--item-color-active));

  overflow: hidden;

  &-horizontal {
    display: inline-flex;
  }

  &-vertical {
    display: flex;
    flex-direction: column;
  }

  .#{$module}-item {
    padding: var(--item-padding);
    cursor: pointer;

    @include truncate;

    &:hover:not(&-disabled) {
      background: var(--item-background-hover);
      color: var(--item-color-hover);
    }

    &-active {
      background: var(--item-background-active);
      color: var(--item-color-active);
    }

    &-disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

.#{$module}-submenu {
  --max-width: var(--ud-dropdown-max-width, 360px);
  --background: var(--ud-dropdown-background, var(--ud-color-white));
  --border-radius: var(--ud-dropdown-border-radius, 8px);

  max-width: var(--max-width);
  background: var(--background);
  box-shadow: var(--ud-shadow-elevated);
  border-radius: var(--border-radius);
  overflow: hidden;
}
