@import '../../global/mixin.scss';
@import './variables.scss';
$module: ud-menu;

.#{$module} {
  list-style: none;
  overflow: hidden;
  background: $menu-background;
  white-space: nowrap;
  display: flex;
  gap: $menu-item-gap;

  &-item {
    padding: $menu-item-padding;
    background: $menu-item-background;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    color: $menu-item-color;
    border-right: $menu-item-border-width solid transparent;
    border-bottom: $menu-item-border-width solid transparent;

    @include truncate;

    &-horizontal {
      display: inline-flex;
    }
    &-horizontal:hover:not(.#{$module}-item-disabled) {
      color: $menu-item-color-hover;
    }

    &-icon {
      display: flex;
      align-items: center;
      margin: $menu-item-icon-margin;
    }

    &-title {
      flex-grow: 1;
    }

    &-disabled {
      color: $menu-item-color-disabled;
      cursor: not-allowed;
    }

    &-active.#{$module}-item-horizontal:not(.#{$module}-item-disabled) {
      color: $menu-item-color-active;
    }
    &-active.#{$module}-item-horizontal:not(.#{$module}-item-disabled).#{$module}-item-hasLine,
    &-horizontal:not(.#{$module}-item-disabled).#{$module}-item-hasLine:hover {
      box-sizing: border-box;
      border-bottom: $menu-item-border-width solid $menu-item-border-color;
    }
    &-active.#{$module}-item-vertical:not(.#{$module}-item-disabled).#{$module}-item-hasLine,
    &-vertical:not(.#{$module}-item-disabled).#{$module}-item-hasLine:hover,
    &-active.#{$module}-item-inline:not(.#{$module}-item-disabled).#{$module}-item-hasLine,
    &-inline:not(.#{$module}-item-disabled).#{$module}-item-hasLine:hover {
      box-sizing: border-box;
      border-right: $menu-item-border-width solid $menu-item-border-color;
    }

    &-active.#{$module}-item-vertical:not(.#{$module}-item-disabled),
    &-active.#{$module}-item-inline:not(.#{$module}-item-disabled) {
      background: $menu-item-background-active;
      color: $menu-item-color-active;
    }

    &-link,
    &-link.#{$module}-item-active.#{$module}-item-hasLine.#{$module}-item-horizontal,
    &-link.#{$module}-item-hasLine.#{$module}-item-horizontal:hover {
      text-decoration: underline;
      color: $menu-item-color-active;
      border-bottom: $menu-item-border-width solid transparent;
    }
  }

  &-vertical {
    padding: $menu-vertical-padding;
  }

  &-inline {
    transition: all 0.2s;
  }

  &-vertical,
  &-inline {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $menu-item-gap;
  }

  &-item-vertical,
  &-item-inline {
    border-radius: $menu-item-border-radius;

    &:hover:not(.#{$module}-item-disabled) {
      background: $menu-item-background-hover;
      color: $menu-item-color-hover;
    }
  }

  &-is-collapsed {
    display: flex;
    flex-direction: column;
    width: 90px;
    transition: all 0.2s;
    justify-content: center;
  }

  &-submenu {
    max-width: $menu-submenu-max-width;
    background: $menu-submenu-background;
    overflow: hidden;
    min-width: $menu-horizontal-submenu-min-width;
    gap: $menu-item-gap;
    gap: var(--ud-menu-item-gap, 5px);
    display: flex;
    flex-direction: column;

    &-horizontal {
      box-shadow: $menu-submenu-border-shadow;
      border-radius: $menu-submenu-border-radius;

      .#{$module}-item {
        display: block;
      }

      .#{$module}-item-active.#{$module}-item-horizontal:not(.#{$module}-item-disabled).#{$module}-item-hasLine,
      .#{$module}-item-horizontal:not(.#{$module}-item-disabled).#{$module}-item-hasLine:hover {
        border-bottom: $menu-item-border-width solid transparent;
        box-sizing: border-box;
        border-right: $menu-item-border-width solid $menu-item-border-color;
      }

      .#{$module}-item-active.#{$module}-item-horizontal:not(.#{$module}-item-disabled) {
        background: $menu-item-background-active;
        color: $menu-item-color-active;
      }
      .#{$module}-item-horizontal:hover:not(.#{$module}-item-disabled) {
        background: $menu-item-background-hover;
        color: $menu-item-color-hover;
      }
    }

    &-wrapper {
      // background-color: $menu-submenu-background;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: $menu-item-padding;
      flex-wrap: nowrap;
      overflow: hidden;
      color: $menu-submenu-color;

      &-focus {
        color: $menu-item-color-active;
      }

      &-left {
        display: flex;
        align-content: center;
        flex-wrap: nowrap;

        .#{$module}-submenu-icon {
          margin: $menu-submenu-icon-margin;
        }
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      padding-left: $menu-submenu-body-padding-left;
      background-color: $menu-inline-submenu-item-background;
      overflow: auto;

      gap: 5px;
    }

    &-body-hidden {
      display: none;
    }

    &-is-collapsed {
      justify-content: center;
    }
  }
}
