@import '../../global/mixin.scss';
@import './variables.scss';

$module: ud-menu;

.#{$module} {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background: $menu-background;
}

.#{$module}-item {
  padding: $menu-item-padding;
  margin: $menu-item-margin;
  background: $menu-item-background;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  border-right: $menu-item-border-width solid transparent;
  border-bottom: $menu-item-border-width solid transparent;

  @include truncate;

  &:hover:not(&-disabled) {
    background: $menu-item-background-hover;
    color: $menu-item-color-hover;
  }

  .#{$module}-item-border-hasLine-vertical:hover:not(&-disabled),
  .#{$module}-item-border-hasLine-inline:hover:not(&-disabled) {
    border-right-color: $menu-item-border-color;
    border-right-width: $menu-item-border-width;
  }

  .#{$module}-item-border-hasLine-horizontal:hover:not(&-disabled) {
    border-bottom-color: $menu-item-border-color;
    border-bottom-width: $menu-item-border-width;
  }

  &-active {
    background: $menu-item-background-active;
    color: $menu-item-color-active;
  }

  &-active.#{$module}-item-border-hasLine-horizontal {
    border-bottom-color: $menu-item-border-color;
    border-bottom-width: $menu-item-border-width;
  }

  &-active.#{$module}-item-border-hasLine-vertical {
    border-right-color: $menu-item-border-color;
    border-right-width: $menu-item-border-width;
  }

  .#{$module}-item-link:hover:not(&-disabled) {
    border-bottom-width: $menu-item-border-width;
    border-bottom-color: transparent;
  }

  &-active.#{$module}-item-link {
    border-bottom-width: $menu-item-border-width;
    border-bottom-color: transparent;
  }
  &-active.#{$module}-submenu-is-collapsed {
    border-right-color: transparent;
  }
}

.#{$module}-submenu-horizontal .#{$module}-item.#{$module}-item-border-hasLine-inline:hover:not(.#{$module}-item-disabled),
.#{$module}-submenu-horizontal .#{$module}-item.#{$module}-item-border-hasLine-vertical:hover:not(.#{$module}-item-disabled) {
  border-right-color: transparent;
  border-radius: 0;
}
.#{$module}-submenu {
  max-width: $menu-submenu-max-width;
  background: $menu-submenu-background;
  overflow: hidden;
  width: 100%;

  &-horizontal {
    box-shadow: $menu-submenu-border-shadow;
    border-radius: $menu-submenu-border-radius;
    background-color: #fff;
    min-width: $menu-horizontal-submenu-min-width;

    .#{$module}-item-active {
      border-right-color: transparent;
      border-radius: 0;
    }
  }

  .#{$module}-item {
    background-color: $menu-inline-submenu-item-background;
  }

  .#{$module}-item-border-hasLine-horizontal:hover:not(.#{$module}-item-disabled) {
    // border-right-color: $menu-item-border-color;
    border-right-width: $menu-item-border-width;
    border-bottom-color: transparent;
  }

  .#{$module}-item-active.#{$module}-item-border-hasLine-horizontal {
    // border-right-color: $menu-item-border-color;
    border-right-width: $menu-item-border-width;
    border-bottom-color: transparent;
  }

  .#{$module}-item.#{$module}-item-active {
    background-color: $menu-item-background-active;
  }

  .#{$module}-item.ud-menu-item-horizontal:hover:not(.#{$module}-item-disabled) {
    background: $menu-item-background-hover;
    color: $menu-item-color-hover;
  }
}

.#{$module}-submenu-rightTop {
  .#{$module}-item {
    background-color: $menu-vertical-right-top-submenu-item-background;
  }
}

.#{$module}-submenu-bottomLeft {
  .#{$module}-item {
    background-color: $menu-vertical-bottom-left-submenu-item-background;
  }
}

.#{$module}-submenu-is-collapsed {
  justify-content: center;
}

.#{$module}-horizontal {
  display: inline-flex;
  gap: $menu-horizontal-gap;
}

.#{$module}-item-disabled {
  color: $menu-item-color-disabled;
  gap: $menu-horizontal-gap;
  cursor: not-allowed;
}

.#{$module}-vertical {
  display: flex;
  flex-direction: column;
  padding: $menu-padding;
}

.#{$module}-inline {
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
  width: 100%;
}

.#{$module}-is-collapsed {
  width: 90px;
  transition: all 0.2s;
  justify-content: center;
}

.#{$module}-item-radius {
  border-radius: $menu-item-border-radius;
}

.#{$module}-submenu-wrapper {
  background-color: $menu-submenu-background;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.#{$module}-submenu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $menu-item-padding;
  flex-wrap: nowrap;
  overflow: hidden;
}

.#{$module}-submenu-header-focus {
  color: $menu-item-color-active;
}

.#{$module}-submenu-header-left {
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
}

.#{$module}-submenu-body {
  padding-left: $menu-submenu-body-padding-left;
  background-color: $menu-inline-submenu-item-background;

  .#{$module}-item {
    background-color: $menu-inline-submenu-item-background;
  }

  .#{$module}-item-active {
    background-color: $menu-submenu-item-active-background;
  }

  .#{$module}-item:hover:not(.#{$module}-item-disabled) {
    background: $menu-submenu-item-hover-background;
    color: $menu-item-color-hover;
  }
  .#{$module}-item-active {
    border-right-color: $menu-item-border-color;
    border-right-width: $menu-item-border-width;
  }
}

.#{$module}-submenu-body-hidden {
  display: none;
}

.#{$module}-item-horizontal {
  background-color: transparent;
  margin: 0;
}

.#{$module}-item.#{$module}-item-horizontal:hover:not(.#{$module}-item-disabled) {
  background-color: transparent;
}
