$menu-background: var(--ud-menu-background, var(--ud-color-white));
$menu-vertical-padding: var(--ud-menu--padding, 0 0 0 4px);
$menu-item-padding: var(--ud-menu-item-padding, 15px);
$menu-item-gap: var(--ud-menu-item-gap, 5px);
$menu-item-background: var(--ud-menu-item-background);
$menu-item-background-active: var(--ud-menu-item-background-active, var(--ud-color-fill-1));
$menu-item-background-hover: var(--ud-menu-item-background-hover, var(--ud-color-fill-1));
$menu-item-color: var(--ud-menu-item-color, var(--ud-color-text-0));
$menu-item-color-active: var(--ud-menu-item-color-active, var(--ud-color-primary));
$menu-item-color-hover: var(--ud-menu-item-color-hover, var(--ud-color-primary));
$menu-item-color-disabled: var(--ud-menu-item-color-disabled, rgb(var(--ud-gray-6)));
$menu-item-border-color: var(--ud-menu-item-border-color, var(--ud-color-primary));
$menu-item-border-width: var(--ud-menu-item-border-width, 2px);
$menu-item-border-radius: var(--ud-menu-item-border-radius, 100px 0 0 100px);
$menu-item-icon-margin: var(--ud-menu-item-icon-margin, 0 10px 0 0); // 菜单子项图标外边距
$menu-item-link-color: var(--ud-menu-item-link-color, var(--ud-color-primary));

$menu-submenu-max-width: var(--ud-menu-submenu-max-width, 360px);
$menu-submenu-color: var(--ud-menu-submenu-color, rgb(var(--ud-gray-9)));
$menu-submenu-background: var(--ud-menu-submenu-background, var(--ud-color-white));
$menu-submenu-border-shadow: var(--ud-menu-submenu-border-shadow, var(--ud-shadow-elevated));
$menu-submenu-border-radius: var(--ud-menu-submenu-border-radius, 8px);
$menu-submenu-icon-margin: var(--ud-menu-submenu-icon-margin, 0 10px 0 0);
$menu-submenu-body-padding-left: var(--ud-menu-submenu-body-padding-left, 20px);
$menu-horizontal-submenu-min-width: var(--ud-menu-horizontal-submenu-min-width, 160px); // 弹出二级导航最小宽度
$menu-inline-submenu-item-background: var(--ud-menu-inline-submenu-item-background, rgb(var(--ud-gray-2))); //内嵌式二级导航背景色
