@import './variables.scss';

$module: ud-space;

.#{$module} {
  display: flex;

  @each $size, $gap in (small, $space-small), (middle, $space-middle), (large, $space-large) {
    &-#{$size} {
      margin-top: -$gap;
      margin-left: -$gap;
      & > * {
        margin-left: $gap;
        margin-top: $gap;
      }
    }
  }

  @each $var, $style in (start, flex-start), (end, flex-end), (center, center), (baseline, baseline) {
    &-align-#{$var} {
      align-items: $style;
    }
  }

  @each $var, $style in (start, flex-start), (end, flex-end), (center, center), (between, space-between), (around, space-between) {
    &-justify-#{$var} {
      justify-content: $style;
    }
  }

  &-wrap {
    flex-wrap: wrap;
  }

  &-vertical {
    flex-direction: column;
  }
}
