$module: ud-grid;
$width: 4.166666%;

.#{$module} {
    flex-grow: 1;

    --bg: #EEEEEE;
    --p-px: 8px;
    background-color: var(--bg);

    &-row {
        display: flex;
        --bg-even: rgba(114, 132, 251, 0.50);
        width: 100%;

        :nth-of-type(odd) {
            background-color: var(--bg-even);
            padding: 16px 0;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        :nth-of-type(even) {
            background-color: rgb(var(--ud-color-primary));
            padding: 16px 0;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    &-row-top {
        align-items: flex-start;
    }

    &-row-align-middle {
        align-items: center;
    }

    &-row-align-bottom {
        align-items: flex-end;
    }

    &-row-justify-start {
        justify-content: start;
    }

    &-row-justify-end {
        justify-content: end;
    }

    &-row-justify-center {
        justify-content: center;
    }

    &-row-space-around {
        justify-content: space-around;
    }

    &-row-space-between {
        justify-content: space-between;
    }

    &-row-space-evenly {
        justify-content: space-evenly;
    }

    &-row-wrap {
        flex-wrap: wrap;
    }

    &-col {
        margin: var(--p-px) 0;
        text-align: center;
    }

    &-col-span-0 {
        display: none;
    }

    @for $i from 1 through 24 {
        &-col-span-#{$i} {
            width: $width * $i;
        }

        &-col-pull-#{$i} {
            position: relative;
            right: $width * $i;
        }

        &-col-push-#{$i} {
            position: relative;
            left: $width * $i;
        }

        &-col-offset-#{$i} {
            margin-left: $width * $i;
        }

        &-col-order-#{$i} {
            order: $i;
        }
    }

    @each $var,
    $middle in (0px, xs),
    (576px, sm),
    (768px, md),
    (992px, lg),
    (1200px, xl),
    (1600px, xxl) {
        @media screen and (min-width: $var) {

            @for $i from 1 through 24 {
                &-col-#{$middle}-#{$i} {
                    display: block;
                    max-width: $width * $i;
                    flex: 0 0 $width * $i;
                }

                &-col-#{$middle}-pull-#{$i} {
                    position: relative;
                    right: $width * $i;
                }

                &-col-#{$middle}-push-#{$i} {
                    position: relative;
                    left: $width * $i;
                }

                &-col-#{$middle}-order-#{$i} {
                    order: $i;
                }

                &-col-#{$middle}-offset-#{$i} {
                    margin-left: $width * $i;
                }
            }
        }
    }

}
