$module: ud-grid;
$width: 4.166666%;

.#{$module} {
    flex-grow: 1;

    --p-px: 8px;
    --p-5: 5px;

    &-row {
        display: flex;
    }

    @each $var,
    $align in (top, flex-start),
    (middle, center),
    (bottom, flex-end) {
        &-row-align-#{$var} {
            align-items: $align;
        }
    }

    @each $var in start,
    end,
    center,
    space-around,
    space-between,
    space-evenly {
        &-row-justify-#{$var} {
            justify-content: $var;
        }
    }

    &-row-wrap {
        flex-wrap: wrap;
    }

    &-col-span-0 {
        display: none;
    }

    @for $i from 1 through 24 {
        &-col-span-#{$i} {
            width: $width * $i;
        }

        &-col-pull-#{$i} {
            position: relative;
            right: $width * $i;
        }

        &-col-push-#{$i} {
            position: relative;
            left: $width * $i;
        }

        &-col-offset-#{$i} {
            margin-left: $width * $i;
        }

        &-col-order-#{$i} {
            order: $i;
        }
    }

    @each $var,
    $middle in (0px, xs),
    (576px, sm),
    (768px, md),
    (992px, lg),
    (1200px, xl),
    (1600px, xxl) {
        @media screen and (min-width: $var) {

            @for $i from 1 through 24 {
                &-col-#{$middle}-#{$i} {
                    display: block;
                    max-width: $width * $i;
                    flex: 0 0 $width * $i;
                }

                &-col-#{$middle}-pull-#{$i} {
                    position: relative;
                    right: $width * $i;
                }

                &-col-#{$middle}-push-#{$i} {
                    position: relative;
                    left: $width * $i;
                }

                &-col-#{$middle}-order-#{$i} {
                    order: $i;
                }

                &-col-#{$middle}-offset-#{$i} {
                    margin-left: $width * $i;
                }
            }
        }
    }

}
