// TODO: 当前为自己提取的，需要UI输出整套色盘。

:root {
  --ud-blue-2: 236, 238, 250; // #ECEEFA
  --ud-blue-3: 218, 224, 255; // #DAE0FF
  --ud-blue-6: 114, 132, 251; // #7284fb
  --ud-blue-7: 92, 108, 212; // #5C6CD4
}
