:root {
  --ud-white: 255, 255, 255;
  --ud-black: 0, 0, 0;

  --ud-purple-1: 243, 247, 255;
  --ud-purple-2: 237, 241, 255;
  --ud-purple-3: 215, 223, 255;
  --ud-purple-4: 193, 203, 255;
  --ud-purple-5: 156, 172, 255;
  --ud-purple-6: 114, 132, 251;
  --ud-purple-7: 85, 97, 212;
  --ud-purple-8: 61, 68, 173;
  --ud-purple-9: 41, 44, 135;
  --ud-purple-10: 29, 28, 97;

  --ud-red-1: 255, 244, 240;
  --ud-red-2: 255, 232, 227;
  --ud-red-3: 255, 196, 186;
  --ud-red-4: 255, 159, 145;
  --ud-red-5: 255, 117, 105;
  --ud-red-6: 255, 73, 64;
  --ud-red-7: 217, 47, 43;
  --ud-red-8: 179, 27, 28;
  --ud-red-9: 140, 15, 20;
  --ud-red-10: 102, 9, 17;

  --ud-orange-1: 255, 248, 240;
  --ud-orange-2: 255, 230, 204;
  --ud-orange-3: 255, 208, 163;
  --ud-orange-4: 255, 182, 122;
  --ud-orange-5: 255, 155, 82;
  --ud-orange-6: 255, 121, 40;
  --ud-orange-7: 217, 92, 23;
  --ud-orange-8: 180, 64, 10;
  --ud-orange-9: 140, 41, 0;
  --ud-orange-10: 102, 26, 0;

  --ud-yellow-1: 255, 250, 230;
  --ud-yellow-2: 255, 238, 179;
  --ud-yellow-3: 255, 226, 138;
  --ud-yellow-4: 255, 210, 97;
  --ud-yellow-5: 255, 192, 56;
  --ud-yellow-6: 255, 171, 16;
  --ud-yellow-7: 218, 135, 23;
  --ud-yellow-8: 180, 64, 10;
  --ud-yellow-9: 140, 41, 0;
  --ud-yellow-10: 102, 26, 0;

  --ud-green-1: 249, 255, 230;
  --ud-green-2: 236, 255, 189;
  --ud-green-3: 215, 247, 143;
  --ud-green-4: 187, 235, 99;
  --ud-green-5: 160, 222, 59;
  --ud-green-6: 132, 209, 21;
  --ud-green-7: 98, 171, 7;
  --ud-green-8: 69, 133, 0;
  --ud-green-9: 46, 94, 0;
  --ud-green-10: 25, 56, 0;

  --ud-cyan-1: 231, 255, 251;
  --ud-cyan-2: 189, 255, 247;
  --ud-cyan-3: 146, 253, 245;
  --ud-cyan-4: 101, 240, 233;
  --ud-cyan-5: 60, 227, 224;
  --ud-cyan-6: 22, 211, 214;
  --ud-cyan-7: 13, 168, 176;
  --ud-cyan-8: 3, 126, 138;
  --ud-cyan-9: 0, 88, 100;
  --ud-cyan-10: 0, 52, 61;

  --ud-blue-1: 230, 249, 255;
  --ud-blue-2: 189, 235, 255;
  --ud-blue-3: 148, 220, 255;
  --ud-blue-4: 108, 201, 255;
  --ud-blue-5: 67, 180, 255;
  --ud-blue-6: 26, 155, 255;
  --ud-blue-7: 12, 121, 218;
  --ud-blue-8: 2, 89, 179;
  --ud-blue-9: 0, 65, 140;
  --ud-blue-10: 0, 44, 103;

  // 偏紫中性色
  --ud-gray-1: 255, 255, 255;
  --ud-gray-2: 244, 244, 246;
  --ud-gray-3: 233, 233, 236;
  --ud-gray-4: 212, 212, 218;
  --ud-gray-5: 190, 190, 200;
  --ud-gray-6: 169, 169, 182;
  --ud-gray-7: 147, 147, 163;
  --ud-gray-8: 125, 126, 145;
  --ud-gray-9: 103, 104, 126;
  --ud-gray-10: 82, 83, 109;
  --ud-gray-11: 60,61,90;
  --ud-gray-12: 39,40,72;
  --ud-gray-13: 19,20,50;

  // 常规中性色
  // --ud-gray-1: 255, 255, 255;
  // --ud-gray-2: 250, 250, 250;
  // --ud-gray-3: 245, 245, 245;
  // --ud-gray-4: 240, 240, 240;
  // --ud-gray-5: 217, 217, 217;
  // --ud-gray-6: 191, 191, 191;
  // --ud-gray-7: 140, 140, 140;
  // --ud-gray-8: 89, 89, 89;
  // --ud-gray-9: 67, 67, 67;
  // --ud-gray-10: 38, 38, 38;
  // --ud-gray-11: 31, 31, 31;
  // --ud-gray-12: 20, 20, 20;
  // --ud-gray-13: 0, 0, 0;
}
