:root {
  --ud-color-primary: #7284fb;
  --ud-color-success: #00b578;
  --ud-color-warning: #ff8f1f;
  --ud-color-danger: #ff3141;
  --ud-color-white: #ffffff;
  --ud-color-weak: #999999;
  --ud-color-light: #cccccc;
  --ud-border-color: #eeeeee;
  --ud-font-size-main: 14px;
  --ud-color-text: #333333;

  --ud-font-family: -apple-system, blinkmacsystemfont, 'Helvetica Neue',
    helvetica, segoe ui, arial, roboto, 'PingFang SC', 'miui',
    'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
}
