$prefix: 'ud';

/* sizing */
$height-control-small: 32px; // 表单项高度 - 小尺寸
$height-control-middle: 42px; // 表单项高度 - 中尺寸
$height-control-large: 52px; // 表单项高度 - 大尺寸
$border-width-control: 1px; // 描边宽度 - 默认