.upload-root {
  :global {
    .upload-button-box {
      // width: 220px;
      padding: 0 30px;
      display: inline-block;
      height: 48px;
      background: #7284FB;
      border-radius: 24px;
      font-size: 16px;
      color: #FFFFFF;
      text-align: center;
      line-height: 48px;
      cursor: pointer;
      .upload-button-icon {
        transform: translateY(2px);
        display: inline-block;
        margin-right: 10px;
        // width: 30px;
        // height: 30px;
      }
    }
    .upload-single-picture {
      background: #F4F4F6;
      border-radius: 12px;
      width: 160px;
      height: 160px;
      cursor: pointer;
    }
    .upload-list-wrapper {
      .upload-loading-box {
        display: flex;
        justify-content: flex-start;
        margin-top: 10px;
        color: #7586FB;
      }
      .upload-loading {
        font-size: 22px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #6a7078;
      }
      .upload-name {
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        letter-spacing: 0;
        text-decoration: underline;
      }
      .upload-item {
        &-box {
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
          color: #FF4940;
        }
        &-left {
          flex-grow: 1;
          display: flex;
          justify-content: flex-start;
        }
      }
      .upload-link {
        font-size: 22px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-progress-box {
        
      }
  
      .upload-picture-box {
        width: 160px;
        height: 160px;
      }
  
    }
    .upload-multiple-wrapper {
      display: flex;
      justify-content: flex-start;
      .upload-multiple-picture {
        margin: 0 10px 10px 0;
        background: #F4F4F6;
        border-radius: 12px;
        width: 160px;
        height: 160px;
        cursor: pointer;
      }
    }
    .drop {
      width: 100%;
      height: 500px;
      border: 1px solid #ccddcc;
    }
  }
}


