@import './variables.scss';

$module: ud-steps;
$item: #{$module}-item;

.#{$module} {
  display: flex;
  flex-flow: row nowrap;

  .#{$item} {
    flex: 1;
    position: relative;
    padding: $steps-item-padding;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      flex: none;
      padding-right: 0;
    }

    .#{$item}-wrapper {
      display: flex;
      align-items: center;
    }

    &-icon {
      width: $steps-item-icon-width;
      height: $steps-item-icon-height;
      margin-left: $steps-item-icon-marginLeft;
      margin-right: $steps-item-icon-marginRight;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $steps-item-icon-width;

      .#{$item}-icon-number {
        font-size: $steps-item-icon-number-fontSize;
      }

      &-wait {
        background: $steps-item-background-wait;
        color: $steps-item-color-wait;
      }

      &-process {
        background: $steps-item-background-process;
        color: $steps-item-color-process;
      }

      &-finish {
        background: $steps-item-background-finish;
        border: 1px solid $steps-item-color-finish;
        color: $steps-item-color-finish;
      }

      &-error {
        background: $steps-item-background-error;
        border: 1px solid $steps-item-color-error;
        color: $steps-item-color-error;
      }

      &-warning {
        background: $steps-item-background-warning;
        border: 1px solid $steps-item-color-warning;
        color: $steps-item-color-warning;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
    }

    &-title {
      font-size: $steps-item-title-fontSize;
      font-weight: $steps-item-title-fontWeight;
    }

    &-description {
      font-size: $steps-item-description-fontSize;
      font-weight: $steps-item-description-fontWeight;
      color: $steps-item-description-color;
    }
  }

  &-custom {
    .#{$item}-icon {
      margin: 0 0 $steps-item-icon-marginBottom;
    }

    .#{$item}-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }
}
