@import './variables.scss';
$module: ud-checkbox;

.#{$module}-wrapper {
  display: flex;
  justify-content: flex-start;
}
.#{$module} {
  padding: $checkbox-padding;
  > svg {
    display: inline-block;
  }
  &-hidden {
    opacity: 0;
    width: 0;
  }
  
  &-text {
    display: inline-block;
    height: $checkbox-height;
    line-height: $checkbox-height;
  }
}