$checkbox-margin: var(--ud-checkbox-margin, 0 20px 0 0); // checkbox 外边距
$checkbox-height: var(--ud-checkbox-height, 40px); // checkbox 宽度 高度

$checkbox-icon-height: var(--ud-checkbox-icon-height, 24px); // checkbox 选中/未选中图标 宽度
$checkbox-icon-width: var(--ud-checkbox-icon-width, 24px); // checkbox 选中/未选中图标 高度
$checkbox-icon-margin: var(--ud-checkbox-icon-margin, 0px 10px 0px 0px); // checkbox 选中/未选中图标  外边距
$checkbox-icon-font-size: var(--ud-checkbox-icon-font-size, 24px); // checkbox 选中/未选中图标 大小
$checkbox-icon-border-radius: var(--ud-checkbox-icon-border-radius, 50%); // checkbox 选中/未选中图标 圆角

$checkbox-icon-color-checked: var(--ud-checkbox-icon-color-checked, var(--ud-color-primary)); // checkbox 选中时图标 颜色
$checkbox-icon-color-unchecked: var(--ud-checkbox-icon-color-unchecked, rgb(var(--ud-gray-3))); // checkbox 未选中时图标 颜色

$checkbox-icon-color-disabled: var(--ud-checkbox-icon-color-checked-disabled, var(--ud-color-disabled-text)); // checkbox 选中图标禁用状态 颜色(color + background + border)
$checkbox-icon-background-disabled: var(--ud-checkbox-icon-background-checked-disabled, var(--ud-color-disabled-fill)); // checkbox 选中图标禁用状态 颜色(color + background + border)
$checkbox-icon-border-disabled: var(--ud-checkbox-icon-border-checked-disabled, 2px solid var(--ud-color-disabled-text)); // checkbox 选中图标禁用状态 颜色(color + background + border)

$checkbox-icon-color-indeterminate: var(--ud-checkbox-icon-color-checked-indeterminate, var(--ud-color-primary)); // 多选下 未全选中时图标 颜色(border)
$checkbox-icon-border-indeterminate-disabled: var(--ud-checkbox-icon-border-checked-indeterminate-disabled, 2px solid var(--ud-color-disabled-text)); // 多选下 未全选中时图标禁用状态 颜色(border)
