@import './variables.scss';

$module: ud-tooltip;

.#{$module} {
  width: max-content;
  max-width: $tooltip-max-width;
  padding: $tooltip-padding;
  font-size: $tooltip-font-size;
  background: $tooltip-background;
  color: $tooltip-color;
  border-radius: $tooltip-border-radius;

  &-topLeft {
    --arrow-rotate: 0;
    --arrow-translate-x: 0;
    --arrow-translate-y: 0;
  }
  &-top {
    --arrow-rotate: 0;
    --arrow-translate-x: -50%;
    --arrow-translate-y: 0;
  }
  &-topRight {
    --arrow-rotate: 0;
    --arrow-translate-x: 0;
    --arrow-translate-y: 0;
  }

  &-bottomLeft {
    --arrow-rotate: 180deg;
    --arrow-translate-x: 0;
    --arrow-translate-y: 0;
  }
  &-bottom {
    --arrow-rotate: 180deg;
    --arrow-translate-x: -50%;
    --arrow-translate-y: 0;
  }
  &-bottomRight {
    --arrow-rotate: 180deg;
    --arrow-translate-x: 0;
    --arrow-translate-y: 0;
  }

  &-leftTop {
    --arrow-rotate: 0;
    --arrow-translate-x: 0;
    --arrow-translate-y: 0;
  }
  &-left {
    --arrow-rotate: 0;
    --arrow-translate-x: 0;
    --arrow-translate-y: -50%;
  }
  &-leftBottom {
    --arrow-rotate: 0;
    --arrow-translate-x: 0;
    --arrow-translate-y: 0;
  }

  &-rightTop {
    --arrow-rotate: 180deg;
    --arrow-translate-x: 0;
    --arrow-translate-y: 0;
  }
  &-right {
    --arrow-rotate: 180deg;
    --arrow-translate-x: 0;
    --arrow-translate-y: -50%;
  }
  &-rightBottom {
    --arrow-rotate: 180deg;
    --arrow-translate-x: 0;
    --arrow-translate-y: 0;
  }

  .#{$module}-arrow {
    position: absolute;
    color: $tooltip-background;
    transform: translate(var(--arrow-translate-x), var(--arrow-translate-y)) rotate(var(--arrow-rotate));
  }
}
