@import './variables.scss';

$module: ud-breadcrumb;

.#{$module} {

    
    font-size: $breadcrumb-font-size;
    display: flex;
    align-items: center;

  
    &-item > a ,  &-item > span{
        color: $breadcrumb-color; 
        display: flex;
        align-items: center;
    }

    &-item:last-child:hover span,
    &-item:last-child:hover>a {
        color: $breadcrumb-color-hover;
        cursor: pointer;
    }

    &-item:last-child {
        cursor: auto;
    }

    &-last {
        color: $breadcrumb-color-selected;

        a {
            color: inherit;
           
        }
    }

    & > span:first-child &-separator{
        display: none;
    }
    &-separator {
        margin: $breadcrumb-separator-margin;
        color: $breadcrumb-color;
    }
    &-wrapper{
        display: flex;
        flex-wrap: nowrap;
    }
}
