$module: ud-breadcrumb;

.#{$module} {
    --color: var(--ud-breadcrumb-color,rgb(var(--ud-gray-8)));
    --color-hover: var( --ud-breadcrumb-color-hover, var(--ud-color-primary));
    --color-selected: var(--ud-breadcrumb-color-selected, rgb(var(--ud-gray-12)));
    --font-size: var(--ud-breadcrumb-font-size, 16px);
    
    font-size: var(--font-size);

    &-item > a ,  &-item > span{
        color: var(--color);
    }

    &-item:last-child:hover span,
    &-item:last-child:hover>a {
        color: var(--color-hover);
        cursor: pointer;
    }

    &-item:last-child {
        cursor: auto;
    }

    &-last {
        color: var(--color-selected);

        a {
            color: inherit;
        }
    }

    &-separator {
        margin: 0 5px 0 10px;
        color: var(--color);
    }
}
