@import './variables.scss';

$module: ud-breadcrumb;

.#{$module} {
  font-size: $breadcrumb-font-size;
  display: flex;
  align-items: center;
}

.#{$module}-item {
  display: flex;
  white-space: nowrap;

  &-separator {
    margin: $breadcrumb-item-separator-margin;
    color: $breadcrumb-color;
  }

  &-text {
    &-wrapper {
      display: flex;
      flex-wrap: nowrap;
    }
    color: $breadcrumb-color;
    a,
    span {
      display: flex;
      align-items: center;
    }
    > a {
      color: $breadcrumb-color;
    }
  }

  &:first-child &-separator {
    display: none;
  }

  &-text:hover,
  &-text a:hover {
    color: $breadcrumb-color-hover;
    cursor: pointer;
  }

  &:last-child &-text,
  &:last-child:hover &-text {
    color: $breadcrumb-color-selected;
  }
}
