@import './variables.scss';

$module: ud-pagination;

.#{$module} {
  display: inline-flex;
  align-items: center;
  padding: $pagination-padding;

  .#{$module}-total {
    margin: $pagination-total-margin;
  }

  .#{$module}-quickJump {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin: $pagination-quickJump-margin;
    .#{$module}-quickJump-input {
      width: $pagination-quickJump-input-width;
      margin: $pagination-quickJump-input-margin;
    }
  }

  .#{$module}-item {
    min-width: $pagination-item-min-width;
    height: $pagination-item-height;
    margin: $pagination-item-margin;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $pagination-item-radius;
    background: $pagination-item-background;
    color: $pagination-item-color;
    user-select: none;

    &:hover:not(&-disabled):not(&-active) {
      background: $pagination-item-background-hover;
      color: $pagination-item-color-hover;
      cursor: pointer;
    }

    &-active {
      background: $pagination-item-background-active;
      color: $pagination-item-color-active;
    }

    &-disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &-prev {
      min-width: $pagination-item-prev-min-width;
    }
    &-next {
      min-width: $pagination-item-next-min-width;
    }
  }
}
