@import './variables.scss';

$module: ud-modal;

.#{$module}-wrap {
  position: fixed;
  left: 50%;
  top: 60px;
  transform: translate(-50%);

  &-centered {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.#{$module} {
  background: $modal-background;
  border-radius: $modal-border-radius;
  box-shadow: $modal-box-shadow;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &-icon-wrapper {
    display: flex;
    justify-content: center;
    font-size: $modal-icon-size;
    margin: $modal-icon-margin;
  }

  &-title {
    font-size: $modal-title-font-size;
    font-weight: $modal-title-font-weight;
    color: $modal-title-color;
    text-align: $modal-title-text-align;
  }

  &-header {
    margin: $modal-header-margin;
    padding: $modal-header-padding;

    &-left {
      position: absolute;
      top: $modal-header-leftArea-top;
      left: $modal-header-leftArea-left;
    }

    &-right {
      position: absolute;
      top: $modal-header-rightArea-top;
      right: $modal-header-rightArea-right;
      display: flex;

      .#{$module}-header-icon {
        margin-left: $modal-header-icon-margin;
      }
    }

    &-icon {
      cursor: pointer;
    }
  }

  &-body {
    margin: $modal-body-margin;
    padding: $modal-body-padding;
    font-size: $modal-body-font-size;
    font-weight: $modal-body-font-weight;
    color: $modal-body-color;
    text-align: $modal-body-text-align;
    flex: 1;
    overflow: auto;

    .#{$module}-body-scrollbar {
      width: unset;
      margin-right: $modal-body-scrollbar-margin;
      padding-right: $modal-body-scrollbar-padding;
    }
  }

  &-footer {
    margin: $modal-footer-margin;
    padding: $modal-footer-padding;
  }
}

.#{$module}-small {
  width: $modal-width-small;
}
.#{$module}-middle {
  width: $modal-width-middle;
}
.#{$module}-large {
  width: $modal-width-large;
}
.#{$module}-fullscreen,
.#{$module}-wrap-fullscreen {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 0);
  border-radius: $modal-border-radius-fullscreen;
}

// 不同类型图标默认色
.#{$module}-info {
  .#{$module}-icon-wrapper {
    svg {
      color: $modal-icon-color-info;
    }
  }
}
.#{$module}-success {
  .#{$module}-icon-wrapper {
    svg {
      color: $modal-icon-color-success;
    }
  }
}
.#{$module}-error {
  .#{$module}-icon-wrapper {
    svg {
      color: $modal-icon-color-error;
    }
  }
}
.#{$module}-warning {
  .#{$module}-icon-wrapper {
    svg {
      color: $modal-icon-color-warning;
    }
  }
}
