.grid-root {
    --bg-even: rgba(114, 132, 251, 0.50);

    :global {
        .ud-grid-row>div:not(.gutter-row):nth-child(odd) {
            background-color: var(--bg-even);
            padding: 16px 0;
            margin-top: 5px;
            margin-bottom: 5px;
            color: #fff;
        }

        .ud-grid-row>div:not(.gutter-row):nth-child(even) {
            background-color: var(--ud-color-primary);
            padding: 16px 0;
            margin-top: 5px;
            margin-bottom: 5px;
            color: #fff;
        }

        .ud-grid-row> div {
            min-height: 30px;
            color: #fff;
            text-align: center;
            border-radius: 0;
        }

        .ud-grid-col {
            text-align: center;
        }
    }
}
