.grid-root {
    --bg-even: rgba(114, 132, 251, 0.50);

    :global {
        .ud-grid-row:first-child>div:nth-child(1) {
            background-color: var(--ud-color-primary);
        }

        .ud-grid-row>div:nth-child(odd) {
            background-color: var(--bg-even);
            padding: 16px 0;
            margin-top: 5px;
            margin-bottom: 5px;
            color: #fff;
        }

        .ud-grid-row>div:nth-child(even) {
            background-color: var(--ud-color-primary);
            padding: 16px 0;
            margin-top: 5px;
            margin-bottom: 5px;
            color: #fff;
        }

        .ud-grid-col {
            text-align: center;
        }

        .gridShow {
            padding: 1.5rem;
            border-width: 1px;
            border-style: solid;
            border-color: #e5e7eb;

            div.gridShow-row {
                background-image: linear-gradient(90deg, #f5f5f5 4.16666667%, transparent 4.16666667%, transparent 8.33333333%, #f5f5f5 8.33333333%, #f5f5f5 12.5%, transparent 12.5%, transparent 16.66666667%, #f5f5f5 16.66666667%, #f5f5f5 20.83333333%, transparent 20.83333333%, transparent 25%, #f5f5f5 25%, #f5f5f5 29.16666667%, transparent 29.16666667%, transparent 33.33333333%, #f5f5f5 33.33333333%, #f5f5f5 37.5%, transparent 37.5%, transparent 41.66666667%, #f5f5f5 41.66666667%, #f5f5f5 45.83333333%, transparent 45.83333333%, transparent 50%, #f5f5f5 50%, #f5f5f5 54.16666667%, transparent 54.16666667%, transparent 58.33333333%, #f5f5f5 58.33333333%, #f5f5f5 62.5%, transparent 62.5%, transparent 66.66666667%, #f5f5f5 66.66666667%, #f5f5f5 70.83333333%, transparent 70.83333333%, transparent 75%, #f5f5f5 75%, #f5f5f5 79.16666667%, transparent 79.16666667%, transparent 83.33333333%, #f5f5f5 83.33333333%, #f5f5f5 87.5%, transparent 87.5%, transparent 91.66666667%, #f5f5f5 91.66666667%, #f5f5f5 95.83333333%, transparent 95.83333333%);
                font-size: 18px;
                color: #fff;

                div:nth-child(odd) {
                    background-color: rgba(114, 132, 251, 0.70);
                }

                :nth-child(even) {
                    background-color: transparent;
                    color: #A8B4CE;
                }

                :first-child>div.ud-grid-col {
                    background-color: rgba(114, 132, 251, 0.70);
                }

                >div {
                    padding: 30px 0;
                }
            }
        }
    }
}
