@import './variables.scss';

$module: ud-result;

.#{$module} {
  padding: $result-padding;
  text-align: center;

  &-icon {
    font-size: $result-icon-font-size;
    display: flex;
    justify-content: center;

    // 不同类型图标默认色
    &-normal {
      color: $result-icon-color-normal;
    }
    &-success {
      color: $result-icon-color-success;
    }
    &-error {
      color: $result-icon-color-error;
    }
    &-403,
    &-404,
    &-500,
    &-warning {
      color: $result-icon-color-warning;
    }
  }

  &-title {
    margin: $result-title-margin;
    color: $result-title-color;
    font-weight: $result-title-font-weight;
    font-size: $result-title-font-size;
  }

  &-subtitle {
    margin: $result-subtitle-margin;
    color: $result-subtitle-color;
    font-size: $result-subtitle-font-size;
    font-weight: $result-subtitle-font-weight;
  }

  &-extra {
    margin: $result-extra-margin;
  }
}
