@import './variables.scss';

$module: ud-result;

.#{$module} {
  padding: $result-padding;
  text-align: center;

  &-icon {
    font-size: $result-icon-font-size;
    margin: 0 auto;
    display: inline-block;
  }

  &-title {
    margin: $result-title-margin;
    color: $result-title-color;
    font-weight: $result-title-font-weight;
    font-size: $result-title-font-size;
  }

  &-subtitle {
    margin: $result-subtitle-margin;
    color: $result-subtitle-color;
    font-size: $result-subtitle-font-size;
    font-weight: $result-subtitle-font-weight;
  }

  &-extra {
    display: flex;
    margin: $result-extra-margin;
    justify-content: center;
    gap: $result-extra-gap;
  }
}
