@import './variables.scss';

$module: ud-scrollbar;
.#{$module} {
  width: 100%;
  height: 100%;
  &-normal {
    overflow: auto;
  }
  &-vertical {
    overflow-y: auto;
    overflow-x: hidden;
  }
  &-horizontal {
    overflow-x: auto;
    overflow-y: hidden;
  }
}
.#{$module}::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-height;
}
.#{$module}::-webkit-scrollbar-track {
  width: $scrollbar-track-width;
  height: $scrollbar-track-height;
  background: $scrollbar-track-background;
  border-radius: $scrollbar-track-border-radius;
}
.#{$module}::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-background;
  border-radius: $scrollbar-thumb-border-radius;
  &:hover {
    background: $scrollbar-thumb-background-hover;
  }
}
.#{$module}-hover::-webkit-scrollbar-thumb {
  background: transparent;
}
.#{$module}-hover:hover::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-background;
  &:hover {
    background: $scrollbar-thumb-background-hover;
  }
}
