@import '../../../global/variables.scss';
$date-picker-background: var(--ud-date-picker-input-background, #fff); // 输入框背景色-默认
$date-picker-input-focused: var(--ud-date-picker-input-focused, var(--ud-color-primary));
$date-picker-range-background: var(--ud-date-picker-range-background, #fff); // 输入框背景色-默认
$date-picker-range-color: var(--ud-date-picker-range-color, var(--ud-color-0)); // 输入框文字颜色-默认
$date-picker-range-border-color: var(--ud-date-picker-range-border-color, var(--ud-color-border)); // 输入框描边颜色-默认
$date-picker-range-input-focused: var(--ud-date-picker-range-input-focused, var(--ud-color-primary));
$date-picker-range-dropdown-max-width: var(--ud-date-picker-range-dropdown-max-width, 500px); // 下拉菜单最大宽度
