@import './variables.scss';
@import './mixin.scss';

$module: ud-spin;

.#{$module} {
  position: relative;
  display: inline-block;
  @include size($spin-width-middle);

  &-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    z-index: var(--ud-z-portal);
    text-align: center;
    color: $spin-color;
    transform: translate(0, -50%);

    & > svg {
      @include size($spin-width-middle);
    }
  }

  &-animate {
    display: inline-flex;
  }

  &-children {
    opacity: $spin-children-opacity;
    user-select: none;
  }

  &-block {
    display: block;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .#{$module}-wrapper {
      display: block;
    }

    &.#{$module} {
      height: auto;
      width: auto;
    }
  }

  &-hidden {
    &::after {
      content: none;
    }

    // 考虑到嵌套，.spin-chidren 节点的 opacity 由直接父级节点的 .spin-hidden 决定
    & > .#{$module}-children {
      opacity: 1;
      user-select: auto;
    }
  }
}

.#{$module}-small {
  @include size($spin-width-small);

  & > .#{$module}-wrapper svg {
    @include size($spin-width-small);
  }
}

.#{$module}-middle {
  @include size($spin-width-middle);

  & > .#{$module}-wrapper svg {
    @include size($spin-width-middle);
  }
}

.#{$module}-large {
  @include size($spin-width-large);

  & > .#{$module}-wrapper svg {
    @include size($spin-width-large);
  }
}

.#{$module}-container {
  overflow: hidden;
}
