@import './variables.scss';
@import './mixin.scss';

$module: ud-spin;

.#{$module} {
  position: relative;
  display: inline-block;
  @include size($spin-width-middle);

  &-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    z-index: var(--ud-z-portal);
    text-align: center;
    color: $spin-color;
    transform: translate(0, -50%);

    & > svg {
      @include size($spin-width-middle);
    }
  }

  &-animate {
    display: inline-flex;
  }

  &-hasChild {
    display: block;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .#{$module}-wrapper {
      display: block;
    }

    &.#{$module} {
      height: auto;
      width: auto;
    }
  }

  &-spinning {
    &::after {
      content: none;
    }

    & > .#{$module}-children {
      opacity: 0.5;
      user-select: none;
    }
  }
}

.#{$module}-small {
  @include size($spin-width-small);

  & > .#{$module}-wrapper svg {
    @include size($spin-width-small);
  }
}

.#{$module}-middle {
  @include size($spin-width-middle);

  & > .#{$module}-wrapper svg {
    @include size($spin-width-middle);
  }
}

.#{$module}-large {
  @include size($spin-width-large);

  & > .#{$module}-wrapper svg {
    @include size($spin-width-large);
  }
}

.#{$module}-fullscreen {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: $spin-z-index;

  .#{$module}-wrapper {
    display: flex;
    width: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
