$spin-color: var(--ud-spin-color, var(--ud-color-primary)); // 加载图标颜色

$spin-width-large: 56px; // 加载图标尺寸 - 大
$spin-width-middle: 36px; // 加载图标尺寸 - 中
$spin-width-small: 20px; // 加载图标尺寸 - 小

$spin-children-opacity: 0.5; // 加载图标作为容器使用时，children的透明度
