@import '../../global/variables.scss';

$spin-color: var(--ud-spin-color, var(--ud-color-primary)); // 加载图标颜色
$spin-z-index: var(--ud-spin-z-index, var(--ud-z-spin));

$spin-width-large: var(--button-height-large, $height-control-large); // 加载图标尺寸 - 大
$spin-width-middle: var(--button-height-middle, $height-control-middle); // 加载图标尺寸 - 中
$spin-width-small: var(--button-height-small, $height-control-small); // 加载图标尺寸 - 小

$spin-children-opacity: 0.5; // 加载图标作为容器使用时，children的透明度
