// Color
$wrapper-color: var(--ud-color-primary); // 加载图标颜色

// Width
$width-large: 32px; // 加载图标尺寸 - 大
$width-middle: 20px; // 加载图标尺寸 - 中
$width-small: 14px; // 加载图标尺寸 - 小

// Spacing
$wrapper-top: 50%; // 加载图标尺寸 - 中

// Motion
$wrapper-translate: translate(0, -50%); // 加载图标旋转动画
// $wrapper-animationDuration: 0.6s; // 加载图标容器旋转一周时长
// $svg-animationDuration: 1.6s; // 加载图标旋转一周时长

// Other
$children-opacity: 0.5; // 加载图标旋转一周时长
