
$module: ud-table;

$table-head-background: var(--table-head-background, rgb(var(--ud-gray-2)));
$table-head-color: var(--table-head-color, rgb(var(--ud-gray-11)));
$table-head-height: var(--table-head-height, 66px);
$table-head-context-height: var(--table-head-context-height, 60px);
$table-head-fontsize: var(--table-head-fontsize, 16px);
$table-border: var(--table-border, 1px solid rgb(var(--ud-gray-3)));
$table-body-hover-background: var(--table-body-hover-background, rgb(var(--ud-blue-1)));
$table-body-height: var(--table-body-height, 70px);
$table-body-fontsize: var(--table-body-fontsize, 14px);
$table-body-color: var(--table-body-color, rgb(var(--ud-gray-9)));

.#{$module} {
  width: 100%;

  &-wrapper {
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    word-break: keep-all;

    
  }
  &-thead {
    font-size: $table-head-fontsize;
    color: $table-head-color;
    letter-spacing: 0;
   
    tr {
      height: $table-head-height;
    }

    &-content {
      height: $table-head-context-height;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $table-head-background;
    }

    th {
      height: $table-head-context-height;
      border-bottom:$table-border;
    }
  }

  &-tbody {
    tr {
      &:hover {
        background: $table-body-hover-background;
      }
    }

    td {
      display: table-cell;
      height: $table-body-height;
      font-size: $table-body-fontsize;
      color: $table-body-color;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: keep-all;
      border-bottom: $table-border;
    }

    &-content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-border {
    border-right: $table-border;
    &:first-child {
      border-left: $table-border;
    }
  }


}