$table-head-background: var(--table-head-background, rgb(var(--ud-gray-2)));  // table header 背景色
$table-head-color: var(--table-head-color, rgb(var(--ud-gray-11))); // table header 字体颜色
$table-head-height: var(--table-head-height, 66px); // table header 高度
$table-head-context-height: var(--table-head-context-height, 60px); // table header 内容区高度
$table-head-fontsize: var(--table-head-fontsize, 16px); // table header 字体大小
$table-border: var(--table-border, 1px solid rgb(var(--ud-gray-3))); // table 边框样式
$table-body-hover-background: var(--table-body-hover-background, rgb(var(--ud-purple-1))); // table hover 背景色
$table-body-height: var(--table-body-height, 70px); // table body 高度
$table-body-fontsize: var(--table-body-fontsize, 14px); // table body 字体大小
$table-body-color: var(--table-body-color, rgb(var(--ud-gray-9))); // table body 字体颜色