@import './variables.scss';
$module: ud-radio;

.#{$module}-wrapper {
  display: flex;
  justify-content: flex-start;
}

.#{$module} {
  padding: $radio-padding;
  display: inline-flex;
  align-self: flex-start;

  &-hidden {
    opacity: 0;
    width: 0;
  }

  &-text {
    display: inline-block;
    height: $radio-height;
    line-height: $radio-height;

    &-disabled {
      color: $radio-disabled-color;
    }
  }
}

.#{$module} {
  &-button {
    display: flex;
    margin: $radio-button-margin;


    &-hidden {
      opacity: 0;
      width: 0;
    }

    &-cus-input {
      display: inline-block;
    }

    &-unchecked {
      font-size: $radio-button-fontsize;
      color: $radio-button-unchecked-color;
      letter-spacing: 0;
      text-align: center;
      background: $radio-button-unchecked-background;
      border: $radio-button-border;
      border-radius: $radio-button-border-radius;
      padding: $radio-button-inner-padding;
      cursor: pointer;
    }

    &-checked {
      font-size: $radio-button-fontsize;
      color: $radio-button-checked-color;
      letter-spacing: 0;
      text-align: center;
      background: $radio-button-checked-background;
      border: $radio-button-checked-border;
      border-radius: $radio-button-border-radius;
      padding: $radio-button-inner-padding;
      cursor: pointer;
    }

    &-unchecked-disabled {
      font-size: $radio-button-fontsize;
      color: $radio-disabled-color;
      letter-spacing: 0;
      background: $radio-button-disabled-background;
      border: $radio-button-border;
      border-radius: $radio-button-border-radius;
      padding: $radio-button-inner-padding;
      cursor: not-allowed;
    }

    &-checked-disabled {
      font-size: $radio-button-fontsize;
      color: $radio-disabled-color;
      letter-spacing: 0;
      background: $radio-button-disabled-background;
      border: $radio-button-border;
      border-radius: $radio-button-border-radius;
      padding: $radio-button-inner-padding;
      cursor: not-allowed;
    }
  }

}

.#{$module}-icon {
  display: inline-flex;
  align-self: center;
  font-size: $radio-icon-font-size;
  margin: $radio-icon-margin;
  width: $radio-icon-width;
  height: $radio-icon-height;
  border-radius: $radio-icon-border-radius;

  &-checked {
    color: $radio-icon-color-checked;
  }

  &-unchecked {
    color: $radio-icon-color-unchecked;
  }

  &-checked-disabled {
    color: $radio-icon-color-checked-disabled;
    background: $radio-icon-background-checked-disabled;
  }

  &-unchecked-disabled {
    color: $radio-icon-color-unchecked-disabled;
    background: $radio-icon-background-unchecked-disabled;
  }
}