$module: ud-radio;
$radio-padding: var(--ud-radio-padding, 15px 15px 15px 15px);
$radio-height: var(--ud-radio-height, 40px);

$radio-button-padding: var(--ud-radio-button-padding, 15px 0);
$radio-button-fontsize: var(--ud-radio-button-fontsize, 16px);
$radio-button-border-radius: var(--ud-radio-button-border-radius, 4px);
$radio-button-fontsize: var(--ud-radio-button-fontsize, 16px);
$radio-button-inner-padding: var(--ud-radio-button-inner-padding, 15px 18px);
.#{$module}-wrapper {
  display: flex;
  justify-content: flex-start;
}
.#{$module} {
  padding: $radio-padding;
  > svg {
    display: inline-block;
  }
  &-hidden {
    opacity: 0;
    width: 0;
  }
  &-text {
    display: inline-block;
    height: $radio-height;
    line-height: $radio-height;
  }
}

.#{$module} {
  &-button {
    display: flex;
    padding: $radio-button-padding;
    
    &-hidden {
      opacity: 0;
      width: 0;
    }
    &-cus-input {
      display: inline-block;
    }
    &-normal {
      font-size: $radio-button-fontsize;
      color: rgb(var(--ud-gray-12));
      letter-spacing: 0;
      text-align: center;
      background: rgb(var(--ud-color-white));
      border: 1px solid rgb(var(--ud-gray-3));
      border-radius: $radio-button-border-radius;
      padding: $radio-button-inner-padding;
      cursor: pointer;
    }
    &-light {
      font-size: $radio-button-fontsize;
      color: rgb(var(--ud-purple-6));
      letter-spacing: 0;
      text-align: center;
      background: rgb(var(--ud-purple-2));
      border: 1px solid rgb(var(--ud-purple-6));
      border-radius: $radio-button-border-radius;
      padding: $radio-button-inner-padding;
      cursor: pointer;
    }
    &-normal-disabled {
      font-size: $radio-button-fontsize;
      color: rgb(var(--ud-gray-6));
      letter-spacing: 0;
      background: rgb(var(--ud-gray-2));
      border: 1px solid rgb(var(--ud-gray-3));
      border-radius: $radio-button-border-radius;
      padding: $radio-button-inner-padding;
      cursor: not-allowed;
    }
    &-light-disabled {
      font-size: $radio-button-fontsize;
      color: rgb(var(--ud-gray-6));
      letter-spacing: 0;
      background: rgb(var(--ud-gray-2));
      border: 1px solid rgb(var(--ud-gray-3));
      border-radius: $radio-button-border-radius;
      padding: $radio-button-inner-padding;
      cursor: not-allowed;
    }
  }
  
}
