$radio-padding: var(--ud-radio-padding, 0 10px); // radio 内间距
$radio-height: var(--ud-radio-height, 40px); // radio 高度 宽度
$radio-disabled-color: var(--ud-radio-disabled-color, rgb(var(--ud-gray-6))); // 禁用时文字显示颜色

$radio-button-margin: var(--ud-radio-button-margin, 15px 0); // radio button 外边距
$radio-button-fontsize: var(--ud-radio-button-fontsize, 16px); // radio button 字体大小
$radio-button-border-radius: var(--ud-radio-button-border-radius, 4px); // radio button 圆角
$radio-button-inner-padding: var(--ud-radio-button-inner-padding, 10px 18px); // radio button 内边距
$radio-button-normal-color: var(--ud-radio-button-normal-color, rgb(var(--ud-gray-12))); // radio button 字体颜色
$radio-button-normal-background: var(--ud-radio-button-normal-background, rgb(var(--ud-color-white))); // radio button 背景
$radio-button-light-color: var(--ud-radio-button-light-color, rgb(var(--ud-purple-6))); // radio button 高亮字体颜色
$radio-button-light-background: var(--ud-radio-button-light-background, rgb(var(--ud-purple-2))); // radio button 高亮背景
$radio-button-border: var(--ud-radio-button-border, 1px solid rgb(var(--ud-gray-3))); // radio button border
$radio-button-light-border: var(--ud-radio-button-light-border, 1px solid rgb(var(--ud-purple-6))); // radio button 高亮border
$radio-button-disabled-background: var(--ud-radio-button-disabled-background, 1px solid rgb(var(--ud-gray-2))); // radio button 禁用背景色