$module: ud-typography;

.#{$module} {
   --color: #272848;
   --color-icon: #7284FB;
   display: block;
   --text-size: 16px;
   --px-5: 0;
   --px-10: 5px;
   position: relative;

   &-h1 {
      font-size: 38px;
      margin-top: 0;
      width: 100%;
   }

   &-h2 {
      font-size: 30px;
      width: 100%;
   }

   &-h3 {
      font-size: 24px;
      width: 100%;
   }

   &-h4 {
      font-size: 20px;
      width: 100%;
   }

   &-h5 {
      font-size: var(--text-size);
      width: 100%;
   }

   &-text-secondary {
      color: #6A7078;
   }

   &-text-success {
      color: #7BDC7B;
   }

   &-text-warning {
      color: #F9811D;
   }

   &-text-danger {
      color: #FF574E;
   }

   &-text-disabled {
      color: #A8B4CE;
   }

   &-text-mark {
      display: inline-block;
      background-color: #D8DDF9;
      padding: var(--px-5) var(--px-10);
   }

   &-text-code {
      display: inline-block;
      padding: var(--px-5) var(--px-10) !important;
      box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.50);
      border-radius: 3px;
      background: #F2F4FA;
      border: 1px solid rgba(114, 132, 251, 0.39);
   }

   &-text-keyboard {
      display: inline-block;
      padding: var(--px-5) var(--px-10) !important;
      background: #EEEEEE;
      border: 1px solid #C1CFD9;
      box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.50);
      border-radius: 3px;
   }

   &-text-underline {
      text-decoration: underline;
   }

   &-text-del {
      color: var(--color);
      text-decoration: line-through;
   }

   &-text-italic {
      color: var(--color);
      font-style: italic;
   }

   &-text-link {
      color: var(--color-icon);
      text-decoration: underline;
   }

   &-text-strong {
      font-weight: bold;
   }

   &-editable {
      width: 100%;
      height: auto;
      resize: none;
      word-wrap: break-word;
      word-break: normal;
   }

   &-editable>span {
      position: relative;
   }

   &-editable-focus {
      overflow-y: hidden;
      border: none;
      word-wrap: break-word;
      word-break: normal;
   }

   &-editable-focus:focus {
      outline: none;
      background-color: #ebeefd;
   }

   &-editable-input {
      display: none;
   }

   &-editable-wrapper {
      width: 100%;
   }

   &-editable-isShow {
      padding: 10px 10px;
      margin-left: -10px;
      margin-top: -10px;
      width: 100%;
      border-radius: 25px;
   }

   &-editable-isShow-icon {
      margin-left: 5px;
      color: var(--color-icon);
      cursor: pointer;
   }

   &-copy {
      display: inline-block;
      margin: 0 0 0 5px;
      position: relative;
      padding: 0;

      >span>span {
         margin-bottom: 2px;
         color: var(--color-icon);
      }
   }

   &-copy-clicked {
      color: rgb(82, 196, 26);
   }

   &-paragraph {
      position: relative;
   }

   &-paragraph-editable {
      width: 100%;
   }

   &-paragraph-ellipsis-rows {
      color: inherit;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      margin: 0;
   }

   &-paragraph-ellipsis-symbol {
      color: #a4b0fc;
      cursor: pointer;
      margin: 0;
      padding: 0;
      text-align: center;
      text-decoration: inherit;
   }

   &-paragraph-ellipsis-tooltip {
      display: none;
      position: absolute;
      left: 0px;
      top: 100%;
      font-size: 6px;
      border: 1px solid black;
      padding: 8px;
      background-color: #fff;
      max-height: 150px;
      color: var(--color);
      line-height: normal;
   }

   &-paragraph-ellipsis-suffix {
      float: right;
      margin-right: 5px;
   }

   &-paragraph-ellipsis-symbol:hover+&-paragraph-ellipsis-tooltip {
      display: inline-block;
      z-index: 99;
   }
}
