@import './variables.scss';

$module: ud-input;

.#{$module}-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  outline: none;
  cursor: text;
  background: $input-background;
  color: $input-color;
  border: $border-width-control solid $input-border-color;
  -webkit-appearance: none;
  overflow: hidden;

  // shape
  &-shape-circle {
    border-radius: var(--ud-border-radius-full);

    .#{$module} {
      border-radius: var(--ud-border-radius-full);
    }
  }
  &-shape-round {
    border-radius: $input-border-radius;

    .#{$module} {
      border-radius: $input-border-radius;
    }
  }
  &-shape-square {
    border-radius: 0;
  }

  &-with-prepend,
  &-with-append {
    .#{$module} {
      background: #fff;
      &:focus {
        border: $input-border-width solid $input-border-color-focus;
      }
    }
  }
  &-with-prepend {
    .#{$module} {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  &-with-append {
    .#{$module} {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &.#{$module}-wrapper-focused:not(.#{$module}-wrapper-with-prepend):not(.#{$module}-wrapper-with-append) {
    background: $input-background-focus;
    border-color: $input-border-color-focus;
  }

  &-with-prefix {
    .#{$module} {
      padding-left: 0;
    }
  }
  &-with-suffix {
    .#{$module} {
      padding-right: 0;
    }
  }

  &-disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.#{$module} {
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  -webkit-appearance: none;

  &::placeholder {
    color: $input-placeholder-color;
  }

  &:focus {
    background: $input-background-focus;
  }

  &-prefix,
  &-suffix {
    display: flex;
    align-items: center;
    margin: $input-suffix-margin;
  }
  &-prefix {
    font-size: $input-prefix-font-size;
    color: $input-prefix-color;
  }
  &-suffix {
    font-size: $input-suffix-font-size;
    color: $input-suffix-color;
  }

  &-prepend,
  &-append {
    display: flex;
    align-items: center;
  }
  &-prepend {
    padding: $input-prepend-padding;
    background: $input-background;
  }
  &-append {
    padding: $input-append-padding;
    background: $input-background;
  }

  &-count {
    color: $input-count-color;
  }

  &-clear-icon,
  &-password-icon {
    cursor: pointer;
  }
  &-clear-icon {
    color: $input-clear-icon-color;
  }
  &-password-icon {
    color: $input-password-icon-color;
  }

  // 尺寸
  &-small {
    height: $input-height-small;
    line-height: $input-height-small;
    font-size: $input-font-size-small;
    padding: $input-padding-small;
  }
  &-middle {
    height: $input-height-middle;
    line-height: $input-height-middle;
    font-size: $input-font-size-middle;
    padding: $input-padding-middle;
  }
  &-large {
    height: $input-height-large;
    line-height: $input-height-large;
    font-size: $input-font-size-large;
    padding: $input-padding-large;
  }
}

.#{$module}-wrapper-error {
  background: $input-background-error;
  border-color: $input-border-color-error;
  color: $input-color-error;

  &.#{$module}-wrapper-focused:not(.#{$module}-wrapper-with-prepend):not(.#{$module}-wrapper-with-append) {
    background: $input-background-focus;
    border-color: $input-border-color-error;

    .#{$module} {
      border-color: transparent;
      &:focus {
        border-color: transparent;
      }
    }
  }

  .#{$module}-suffix {
    color: $input-border-color-error;
  }
}
.#{$module}-wrapper-warning {
  background: $input-background-warning;
  border-color: $input-border-color-warning;
  color: $input-color-warning;

  &.#{$module}-wrapper-focused:not(.#{$module}-wrapper-with-prepend):not(.#{$module}-wrapper-with-append) {
    background: $input-background-focus;
    border-color: $input-border-color-warning;

    .#{$module} {
      border-color: transparent;
      &:focus {
        border-color: transparent;
      }
    }
  }

  .#{$module}-suffix {
    color: $input-border-color-warning;
  }
}
