@import './variables.scss';

$module: ud-textarea;

.#{$module}-wrapper {
  background: $input-background;
  color: $input-color;
  position: relative;
  width: 100%;
  outline: none;
  cursor: text;
  border: $border-width-control solid $input-border-color;
  border-radius: $textarea-border-radius;
  overflow: hidden;

  &.#{$module}-wrapper-focused {
    background: $input-background-focus;
    border-color: $input-border-color-focus;
  }

  &-disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.#{$module} {
  padding: $textarea-padding;
  width: 100%;
  outline: none;
  background: transparent;

  &:focus {
    background: $input-background-focus;
    border-color: $input-border-color-focus;
  }

  &-count {
    color: $input-count-color;
  }

  &-count,
  &-clear-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 1;
    cursor: pointer;
  }
  &-clear-icon {
    color: $input-clear-icon-color;
  }
}

.#{$module}-wrapper-error {
  background: $input-background-error;
  border-color: $input-border-color-error;
  color: $input-color-error;

  &.#{$module}-wrapper-focused {
    background: $input-background-focus;
    border-color: $input-border-color-error;

    .#{$module} {
      border-color: transparent;
      &:focus {
        border-color: transparent;
      }
    }
  }
}
.#{$module}-wrapper-warning {
  background: $input-background-warning;
  border-color: $input-border-color-warning;
  color: $input-color-warning;

  &.#{$module}-wrapper-focused {
    background: $input-background-focus;
    border-color: $input-border-color-warning;

    .#{$module} {
      border-color: transparent;
      &:focus {
        border-color: transparent;
      }
    }
  }
}
