$module: ud-switch;
$gap: 2px;

.#{$module} {
  margin: 0;
  padding: 0;
  border: 0;
  color: #000000d9;
  font-size: 14px;
  list-style: none;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  min-width: 70px;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  border: 1px solid #CDCDCD;
  background: #ededed;
  border-radius: 100px;
  cursor: pointer;
  transition: all .2s;
  &-handle {
    position: absolute;
    top: 1px;
    left: 2px;
    width: 32px;
    height: 32px;
    transition: all .2s ease-in-out;
    &::before {
      position: absolute;
      inset: 0;
      background-color: #fff;
      border-radius: 32px;
      box-shadow: 0 2px 4px #00230b33;
      transition: all .2s ease-in-out;
      content: "";
    }
  }
  &-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &-checked {
    background: var(--ud-color-primary-light);
    border-color: var(--ud-color-primary);
    color: var(--ud-color-primary);
    padding-right: 30px;
    .#{$module}-handle {
      left: calc(100% - 34px);
      &::before {
        background-image: linear-gradient(-180deg, var(--ud-color-primary) 0%, var(--ud-color-primary) 100%);
        box-shadow: 0 3px 5px 0 rgba(247,130,0,0.33);
      }
    }
  }
  &-unchecked {
    background: #ededed;
    padding-left: 30px;
    color: #A8B4CE;;
    .#{$module}-handle::before {
      background-image: linear-gradient(-180deg, #E6E6E6 3%, #BEBEBE 98%);
      box-shadow: 0 3px 5px 0 rgba(196,196,196,0.33);
    }
  }
  &-text {
    font-size: 12px;
  }
}
.#{$module}-small {
  min-width: 50px;
  height: 26px;
  line-height: 26px;
  .#{$module}-handle {
    width: 22px;
    height: 22px;
    &::before {
      position: absolute;
      inset: 0;
      background-color: #fff;
      border-radius: 22px;
      box-shadow: 0 2px 4px #00230b33;
      transition: all .2s ease-in-out;
      content: "";
    }
  }
}

.#{$module}-small.#{$module}-checked  {
  .#{$module}-handle {
    left: calc(100% - 22px);
  }
}