@import './variables.scss';
$module: ud-toast;

.#{$module} {
  padding: $toast-padding;
  background: rgba(var(--ud-gray-13), 0.7);
  border-radius: $toast-border-radius;
  font-family: SourceHanSansCN-Medium;
  font-size: $toast-font-size;
  color: var(--ud-color-white);
  letter-spacing: 0;
  position: fixed;
  text-align: center;
  z-index: $toast-z-index;
  &-left {
    left: $toast-space;
    top: $toast-translate;
    transform: translateY($toast-translate-negative);
  }
  &-right {
    right: $toast-space;
    top: $toast-translate;
    transform: translateY($toast-translate-negative);
  }
  &-top {
    left: $toast-translate;
    transform: translateX($toast-translate-negative);
    top: $toast-space;
  }
  &-topLeft {
    left: $toast-space;
    top: $toast-space;
  }
  &-topRight {
    right: $toast-space;
    top: $toast-space;
  }
  &-center {
    left: $toast-translate;
    transform: translate($toast-translate-negative, $toast-translate-negative);
    top: $toast-translate;
  }
  &-bottom {
    left: $toast-translate;
    transform: translateX($toast-translate-negative);
    bottom: $toast-space;
  }
  &-bottomLeft {
    left: $toast-space;
    bottom: $toast-space;
  }
  &-bottomRight {
    right: $toast-space;
    bottom: $toast-space;
  }
  .content {
    max-width: $toast-max-width;
  }
}
