@import './variables.scss';

$module: ud-layout;

.#{$module} {
  display: flex;
  flex-grow: 1;

  &-header {
    flex-shrink: 0;
  }

  &-main {
    flex-grow: 1;
  }

  &-footer {
    flex-shrink: 0;
  }

  &-sider {
    flex-shrink: 0;
    transition: all $layout-transition-duration;
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translate(0, 0);
  }

  &-sider-toggle {
    transition: all $layout-transition-duration;
  }

  &-sider-trigger {
    width: 100%;
    position: fixed;
    flex-shrink: 0;
    bottom: 0;
    z-index: 1;
    color: $layout-icon-color;
    text-align: center;
    cursor: pointer;
    transition: all $layout-transition-duration;
    overflow: hidden;
    font-size: $layout-icon-size;
  }
  &-sider-trigger-rotate {
    transform: $layout-transform-rotate;
  }
  &-sider-special-trigger {
    display: inline-block;
    line-height: $layout-special-trigger-size;
    position: absolute;
    top: $layout-special-trigger-top;
    left: $layout-special-trigger-left;
    cursor: pointer;
  }

  &-direction-column {
    flex-direction: column;
  }

  &-direction-row {
    flex-direction: row;
  }
}
