@import './variables.scss';

$module: ud-layout;

.#{$module} {
  display: flex;
  flex-grow: 1;

  &-header {
    flex-shrink: 0;
  }

  &-main {
    flex-grow: 1;
  }

  &-footer {
    flex-shrink: 0;
  }

  &-sider {
    flex-shrink: 0;
    transition: all $layout-transition-duration;
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translate(0, 0);
  }


  &-sider-trigger {
    width: 100%;
    position: fixed;
    flex-shrink: 0;
    bottom: 0;
    z-index: 1;
    color: $layout-icon-color;
    text-align: center;
    cursor: pointer;
    transition: all $layout-transition-duration;
    overflow: hidden;
    font-size: $layout-icon-size;
  }
  &-sider-trigger-rotate {
    transform: $layout-transform-rotate;
  }


  &-direction-column {
    flex-direction: column;
  }

  &-direction-row {
    flex-direction: row;
  }

  &-sider-trigger-top {
    display: inline-block;
    position: absolute;
    left: $layout-sider-trigger-top-left;
    margin-left: $layout-sider-trigger-top-margin-left;
    font-size: 35px;
    cursor: pointer;
    
    width: $layout-sider-trigger-width;
    height: $layout-sider-trigger-height;
    border-radius: $layout-sider-trigger-top-boder-radius;
  }
  &-sider-trigger-top-flod {
    color: $layout-sider-trigger-top-flod-color;
    background-color: $layout-sider-trigger-top-flod-background;
  }
  &-sider-trigger-top-extend {
    color: $layout-sider-trigger-top-extend-color;
    background-color: $layout-sider-trigger-top-extend-background;
  }
}
