@import './vairables.scss';
$module: ud-date-time-panel;
.#{$module}{
  display: flex;
  flex-direction: column;
  &-content{
    display: flex;
    .ud-time-picker-panel {
        padding-top: 56px;
        border-left: 1px solid $time-picker-border-color;
        .time-box{
          border-bottom: 0;
          border-top: 1px solid $time-picker-border-color;
        }
    }
  }

  .btn-box{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px;
    border-top:1px solid $time-picker-border-color;
    .confirm{
      border-radius: 5px;
      min-width: 60px;
      background: $time-picker-confirm-background;
      color: $time-picker-confirm-color;
    }
    .now{
      color: $time-picker-now-color;
      cursor: pointer;
      font-weight: bold;
    }
  }


}