$time-picker-now-color: var(--ud-time-picker-now-color, var(--ud-color-text-0));
$time-picker-confirm-background: var(--ud-time-picker-confirm-background, var(--ud-color-primary));
$time-picker-confirm-color: var(--ud-time-picker-confirm-color, var(--ud-color-white));
$time-picker-border-color: var(--ud-time-picker-border-color, #ECF0F3)