$time-picker-background: var(--ud-time-picker-background, var(--ud-color-white));
$time-picker-now-color: var(--ud-time-picker-now-color, var(--ud-color-primary));
$time-picker-confirm-background: var(--ud-time-picker-confirm-background, var(--ud-color-primary));
$time-picker-confirm-color: var(--ud-time-picker-confirm-color, var(--ud-color-white));