@import './variables.scss';
$module: ud-collapse;

.#{$module} {
	&-item-header {
		font-size: $collapse-header-font-size;
		background: $collapse-header-background;
		border-radius: $collapse-header-border-radius;
		padding: $collapse-header-padding;
		margin: $collapse-header-margin;
		cursor: pointer;
	}

	&-item-content {
		font-size: $collapse-item-font-size;
		padding: $collapse-item-padding;
		background: $collapse-item-background;
		border-radius: $collapse-item-border-radius;
		margin: $collapse-item-margin;
		transition: all 0.2s ease-in-out;
	}

	&-item-icon {
		float: right;
	}

	&-item-inactive {
		.#{$module}-item-content {
			display: none;
		}
	}

	&-item-active {
		.#{$module}-item-header {
			color: $collapse-background-active;
			font-weight: 700;
		}

		.#{$module}-item-icon {
			transform: rotate(180deg);
			transition: all 0.2s ease-in-out;
		}
	}

	.#{$module}-item-border.#{$module}-item-active {
		background: $collapse-bordered-background;
		border: $collapse-border-width $collapse-border-style $collapse-background-active;
		border-radius: $collapse-header-border-radius;
		margin: $collapse-header-margin;

		.#{$module}-item-header {
			background: $collapse-bordered-background;
			border-bottom: $collapse-border-width $collapse-border-style $collapse-border-color;
			border-radius: $collapse-header-border-radius $collapse-header-border-radius 0 0;
			margin: 0;
			cursor: pointer;
		}

		.#{$module}-item-content {
			background: $collapse-bordered-background;
			border-radius: 0 0 $collapse-item-border-radius $collapse-item-border-radius;
			margin: 0;
		}
	}
}
