$collapse-background-active: var(--ud-collapse-background-active, var(--ud-color-primary)); // 默认态折叠面板主要色
$collapse-header-background: var(--ud-collapse-header-background, var(--ud-color-primary-light)); // 默认态折叠面板header背景色
$collapse-item-background: var(--collapse-item-background, #F3F4F8); // 默认态折叠面板item背景色
$collapse-bordered-background: var(--collapse-bordered-background, #fbfcfd); //有边框折叠面板的背景色

$collapse-header-font-size: var(--collapse-header-font-size, 14px); // 折叠面板header字号
$collapse-item-font-size: var(--collapse-item-font-size, 14px); // 折叠面板item字号

$collapse-header-padding: var(--collapse-header-padding, 16px 20px 16px 40px); // 折叠面板内边距
$collapse-item-padding: var(--collapse-item-padding, 20px 40px); // 折叠面板内边距

$collapse-header-margin: var(--collapse-header-margin, 0 0 10px); // 折叠面板外边距
$collapse-item-margin: var(--collapse-item-margin, 0 0 10px); // 折叠面板外边距

$collapse-border-width: var(--ud-collapse-border-width, 1px); // 折叠面板边框宽度
$collapse-border-style: var(--ud-collapse-border-style, solid); // 折叠面板边框类型
$collapse-border-color: var(--ud-collapse-border-color, #eee); // 折叠面板边框颜色

$collapse-header-border-radius: var(--ud-collapse-header-border-radius, 25px); // 折叠面板header圆角
$collapse-item-border-radius: var(--ud-collapse-item-border-radius, 25px); // 折叠面板item圆角
