@import './variables.scss';

$module: ud-button;

.#{$module} {
  --button-color: #{$button-color-primary};
  --button-color-hover: #{$button-color-primary-hover};
  --button-color-active: #{$button-color-primary-active};
  --button-color-light: #{$button-color-primary-light};
  --button-color-light-hover: #{$button-color-primary-light-hover};
  --button-color-light-active: #{$button-color-primary-light-active};

  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  font-weight: $button-font-weight;
  text-align: center;
  border: $button-border-width $button-border-style $button-border-color;
  cursor: pointer;
  transition: opacity ease 0.15s;
  user-select: none;
  overflow: hidden;
  background-color: transparent;
  background-image: none;
  appearance: button;

  &:focus {
    outline: none;
  }
  // &::before {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: #000;
  //   opacity: 0;
  //   content: ' ';
  // }
  // &:active::before {
  //   opacity: 0.08;
  // }

  &-primary {
    background: var(--button-color);
    color: var(--ud-color-white);

    &:hover:not(.#{$module}-disabled) {
      background: var(--button-color-hover);
    }
    &:active:not(.#{$module}-disabled) {
      background: var(--button-color-active);
    }
  }
  &-default {
    background: var(--button-color-light);
    color: var(--button-color);
    border-color: transparent;

    &:hover:not(.#{$module}-disabled) {
      background: var(--button-color-light-hover);
    }
    &:active:not(.#{$module}-disabled) {
      background: var(--button-color-light-active);
    }
  }
  &-text {
    color: var(--button-color);
    border-color: transparent;
    &:hover:not(.#{$module}-disabled) {
      color: var(--button-color-hover);
    }
    &:active:not(.#{$module}-disabled) {
      color: var(--button-color-active);
    }
  }
  &-link {
    color: var(--button-color);
    border-color: transparent;
    text-decoration: underline;
    &:hover:not(.#{$module}-disabled) {
      color: var(--button-color-hover);
    }
    &:active:not(.#{$module}-disabled) {
      color: var(--button-color-active);
    }
  }

  &-danger {
    --button-color: #{$button-color-danger};
    --button-color-hover: #{$button-color-danger-hover};
    --button-color-active: #{$button-color-danger-active};
    --button-color-light: #{$button-color-danger-light};
    --button-color-light-hover: #{$button-color-danger-light-hover};
    --button-color-light-active: #{$button-color-danger-light-active};
  }
  &-warning {
    --button-color: #{$button-color-warning};
    --button-color-hover: #{$button-color-warning-hover};
    --button-color-active: #{$button-color-warning-active};
    --button-color-light: #{$button-color-warning-light};
    --button-color-light-hover: #{$button-color-warning-light-hover};
    --button-color-light-active: #{$button-color-warning-light-active};
  }
  
  // 置灰版本禁用态
  // &-disabled {
  //   --button-color: #{$button-color-disabled};
  //   --button-color-hover: #{$button-color-disabled};
  //   --button-color-active: #{$button-color-disabled};
  //   --button-color-light: #{$button-color-disabled-light};
  //   --button-color-light-hover: #{$button-color-disabled-light};
  //   --button-color-light-active: #{$button-color-disabled-light};
  // }

  &-block {
    display: block;
    width: 100%;
  }

  &-disabled {
    cursor: not-allowed;
    opacity: 0.6;
    // &:active::before {
    //   display: none;
    // }
  }

  // &-loading {
  //   opacity: 0.7;
  // }

  &-icon-wrapper {
    display: flex;
    height: 1.4em;
    align-items: center;
    justify-content: center;
    .#{$module}-icon-text {
      margin-left: 10px;
    }
  }

  // 尺寸
  &-small {
    height: $button-height-small;
    // line-height: $button-height-small;
    font-size: $button-font-size-small;
    min-width: $button-min-width-small;
    padding: $button-padding-small;
    &.#{$module}-icon-only {
      min-width: $button-height-small;
    }
  }
  &-middle {
    height: $button-height-middle;
    // line-height: $button-height-middle;
    font-size: $button-font-size-middle;
    min-width: $button-min-width-middle;
    padding: $button-padding-middle;
    &.#{$module}-icon-only {
      min-width: $button-height-middle;
    }
  }
  &-large {
    height: $button-height-large;
    // line-height: $button-height-large;
    font-size: $button-font-size-large;
    min-width: $button-min-width-large;
    padding: $button-padding-large;
    &.#{$module}-icon-only {
      min-width: $button-height-large;
    }
  }

  // shape
  &-shape-circle {
    border-radius: var(--ud-border-radius-full);
  }
  &-shape-round {
    border-radius: $button-border-radius;
  }
  &-shape-square {
    border-radius: 0;
  }

  &-icon-only {
    padding-left: 0;
    padding-right: 0;
  }
}
