@import './variables.scss';

$module: ud-button;

.#{$module} {
  --button-color: #{$button-color-primary};
  --button-color-light: #{$button-color-primary-light};

  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
  text-align: center;
  border: $button-border-width $button-border-style $button-border-color;
  border-radius: $button-border-radius;
  cursor: pointer;
  transition: opacity ease 0.15s;
  user-select: none;
  min-width: 150px;
  overflow: hidden;

  &:focus {
    outline: none;
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    content: ' ';
  }
  &:active::before {
    opacity: 0.08;
  }

  &-primary {
    background: var(--button-color);
    color: var(--ud-color-white);
  }
  &-default {
    background: var(--button-color-light);
    color: var(--button-color);
    border-color: transparent;
  }
  &-text {
    color: var(--button-color);
    border-color: transparent;
  }
  &-link {
    color: var(--button-color);
    border-color: transparent;
    text-decoration: underline;
  }

  &-danger {
    --button-color: #{$button-color-danger};
    --button-color-light: #{$button-color-danger-light};
  }
  &-warning {
    --button-color: #{$button-color-warning};
    --button-color-light: #{$button-color-warning-light};
  }
  &-disabled {
    --button-color: #{$button-color-disabled};
    --button-color-light: #{$button-color-disabled-light};
  }

  &-block {
    display: block;
    width: 100%;
  }

  &-disabled {
    cursor: not-allowed;
    // opacity: 0.5;
    &:active::before {
      display: none;
    }
  }

  &-loading {
    opacity: 0.7;
  }

  &-icon-wrapper {
    display: flex;
    height: 1.4em;
    align-items: center;
    justify-content: center;
    > span {
      margin-left: 10px;
    }
  }

  // 尺寸
  &-small {
    height: $button-height-small;
    line-height: $button-height-small;
    font-size: $button-font-size-small;
    min-width: $button-min-width-small;
    padding: $button-padding-small;
    &.#{$module}-icon-only {
      min-width: $button-height-small;
    }
  }
  &-middle {
    height: $button-height-middle;
    line-height: $button-height-middle;
    font-size: $button-font-size-middle;
    min-width: $button-min-width-middle;
    padding: $button-padding-middle;
    &.#{$module}-icon-only {
      min-width: $button-height-middle;
    }
  }
  &-large {
    height: $button-height-large;
    line-height: $button-height-large;
    font-size: $button-font-size-large;
    min-width: $button-min-width-large;
    padding: $button-padding-large;
    &.#{$module}-icon-only {
      min-width: $button-height-large;
    }
  }

  // shape
  &-shape-circle {
    border-radius: var(--ud-border-radius-circle);
  }
  &-shape-round {
    border-radius: var(--ud-border-radius-full);
  }
  &-shape-square {
    border-radius: 0;
  }

  &-icon-only {
    padding-left: 0;
    padding-right: 0;
  }
}
