@import '../../global/variables.scss';

$button-color-primary: var(--ud-button-color-primary, var(--ud-color-primary)); // 默认态按钮主要色
$button-color-primary-hover: var(--ud-button-color-primary-hover, var(--ud-color-primary-hover)); // 默认态按钮主要色-悬浮
$button-color-primary-active: var(--ud-button-color-primary-active, var(--ud-color-primary-active)); // 默认态按钮主要色-按下
$button-color-primary-light: var(--ud-button-color-primary-light, var(--ud-color-primary-light)); // 浅版默认态按钮主要色
$button-color-primary-light-hover: var(--ud-button-color-primary-light-hover, var(--ud-color-primary-light-hover)); // 浅版默认态按钮主要色-悬浮
$button-color-primary-light-active: var(--ud-button-color-primary-light-active, var(--ud-color-primary-light-active)); // 浅版默认态按钮主要色-按下

$button-color-danger: var(--ud-button-color-danger, var(--ud-color-danger)); // 二级警示按钮主要色
$button-color-danger-hover: var(--ud-button-color-danger-hover, var(--ud-color-danger-hover)); // 二级警示按钮主要色-悬浮
$button-color-danger-active: var(--ud-button-color-danger-active, var(--ud-color-danger-active)); // 二级警示按钮主要色-按下
$button-color-danger-light: var(--ud-button-color-danger-light, var(--ud-color-danger-light)); // 浅版二级警示按钮主要色
$button-color-danger-light-hover: var(--ud-button-color-danger-light-hover, var(--ud-color-danger-light-hover)); // 浅版二级警示按钮主要色-悬浮
$button-color-danger-light-active: var(--ud-button-color-danger-light-active, var(--ud-color-danger-light-active)); // 浅版二级警示按钮主要色-按下

$button-color-warning: var(--ud-button-color-warning, var(--ud-color-warning)); // 一级警示按钮主要色
$button-color-warning-hover: var(--ud-button-color-warning-hover, var(--ud-color-warning-hover)); // 一级警示按钮主要色-悬浮
$button-color-warning-active: var(--ud-button-color-warning-active, var(--ud-color-warning-active)); // 一级警示按钮主要色-按下
$button-color-warning-light: var(--ud-button-color-warning-light, var(--ud-color-warning-light)); // 浅版一级警示按钮主要色
$button-color-warning-light-hover: var(--ud-button-color-warning-light-hover, var(--ud-color-warning-light-hover)); // 浅版一级警示按钮主要色-悬浮
$button-color-warning-light-active: var(--ud-button-color-warning-light-active, var(--ud-color-warning-light-active)); // 浅版一级警示按钮主要色-按下

$button-color-disabled: var(--ud-button-color-disabled, rgba(var(--ud-gray-6), 1)); // 禁用按钮主要色
$button-color-disabled-light: var(--ud-button-color-disabled-light, var(--ud-color-disabled-fill)); // 浅版禁用按钮主要色

$button-font-size-small: var(--button-font-size-small, 14px); // 按钮文字字号-小
$button-font-size-middle: var(--button-font-size-middle, 16px); // 按钮文字字号-中
$button-font-size-large: var(--button-font-size-large, 16px); // 按钮文字字号-大

$button-padding-small: var(--button-padding-small, 0 16px); // 按钮内边距-小
$button-padding-middle: var(--button-padding-middle, 0 20px); // 按钮内边距-中
$button-padding-large: var(--button-padding-large, 0 30px); // 按钮内边距-大

$button-min-width-small: var(--button-min-width-small, 120px); // 按钮最小宽度-小
$button-min-width-middle: var(--button-min-width-middle, 150px); // 按钮最小宽度-中
$button-min-width-large: var(--button-min-width-large, 180px); // 按钮最小宽度-大

$button-height-small: var(--button-height-small, $height-control-small); // 按钮高度-小
$button-height-middle: var(--button-height-middle, $height-control-middle); // 按钮高度-中
$button-height-large: var(--button-height-large, $height-control-large); // 按钮高度-大

$button-border-width: var(--ud-button-border-width, 1px); // 按钮边框宽度
$button-border-style: var(--ud-button-border-style, solid); // 按钮边框类型
$button-border-color: var(--ud-button-border-color, var(--ud-color-border)); // 按钮边框颜色

$button-border-radius: var(--ud-button-border-radius, 4px); // 按钮圆角大小

$button-font-weight: var(--ud-button-font-weight, 400); // 按钮文字字重
