@import './variables.scss';
$module: ud-skeleton;


@keyframes pulse {
  0% {
    background: rgba(var(--ud-gray-2), 1);
  }
  50% {
    background: rgba(var(--ud-gray-4), 1);
  }

  100% {
    background: rgba(var(--ud-gray-2), 1);
  }
}


.#{$module} {
  &-bg {
    background: rgba(var(--ud-gray-2), 1);
  }
  &-full {
    display: flex;
    width: 100%;
    > :not([hidden]) ~ :not([hidden]) {
      margin-right: $skeleton-space;
      margin-left: $skeleton-space;
    }
  }
  &-grow {
    flex: 1;
    > :not([hidden]) ~ :not([hidden]) {
      margin-top: $skeleton-space;
    }
  }
  &-active {
    .#{$module}-bg {
      animation: pulse 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
    
  }
  &-active.#{$module}-bg {
    animation: pulse 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  &-avatar {
    height: $skeleton-height;
    width: $skeleton-height;
    border-radius: $skeleton-border-radius-circle;
    &-small {
      height: $skeleton-small-height;
      width: $skeleton-small-height;
    }
    &-large {
      height: $skeleton-large-height;
      width: $skeleton-large-height;
    }

    &-square {
      border-radius: $skeleton-border-radius;
    }
    
  }
  &-button {
    height: $skeleton-height;
    width: $skeleton-width;
    border-radius: $skeleton-border-radius-circle;
    &-small {
      height: $skeleton-small-height;
    }
    &-large {
      height: $skeleton-large-height;
    }

    &-square {
      border-radius: $skeleton-border-radius;
    }
    &-circle {
      width: $skeleton-height;
    }
    
    
  }

  &-title {
    width: $skeleton-width;
    height: $skeleton-height;
    border-radius: $skeleton-border-radius;
    &-small {
      height: $skeleton-small-height;
    }
    &-large {
      height: $skeleton-large-height;
    }
  }

  &-image {
    border-radius: $skeleton-border-radius-image;
    background: url('../../assets/skeleton.png') no-repeat center center;
    background-size: cover;
  }

  &-paragraph {
    border-radius: $skeleton-border-radius;
    height: $skeleton-height;
    &-small {
      height: $skeleton-small-height;
    }
    &-large {
      height: $skeleton-large-height;
    }
  }
}