$skeleton-border-radius-circle: var(--ud-skeleton-border-radius-circle, 1000px); // 圆形border-radius
$skeleton-border-radius-image: var(--ud-skeleton-border-radius-image, 6px);  // 图片border-radius
$skeleton-border-radius: var(--ud-skeleton-border-radius, 4px); // 默认border-radius
$skeleton-height: var(--ud-skeleton-height, 48px); // 默认高度
$skeleton-small-height: var(--ud-skeleton-small-height, 32px); // small height
$skeleton-large-height: var(--ud-skeleton-large-height, 58px); // large height
$skeleton-space: var(--ud-skeleton-space, 16px); // padding margin 间隙
$skeleton-width: var(--ud-skeleton-width, 150px); // 默认按钮 标题 宽度