.space {
  
    :global {
        .ud-typography {
            align-self: center;
        }
        .space-bg{
            background: #f9fafd;
        }
        .ud-space {
            flex-wrap: wrap;
        }

        .space-size-btn {
            .ud-space {
                margin-bottom: 20px;
            }

        }

        .space-page-algin {
            display: flex;
            gap: 10px;

            .ud-space {
                gap: 15px;
                background-color: rgba(242, 244, 250, 0.45);
                border: 1px solid #7284FB;
                border-radius: 6px;
                padding: 10px;
                flex-wrap: nowrap;
            }

            .mock-block {
                height: 110px;
                background: #EDF1FF;
                border-radius: 6px;
                padding: 15px;
                text-align: center;
                display: flex;
                align-items: center;
            }
        }
    }

}
