@import './variables.scss';

$module: ud-icon;

.#{$module} {
  display: inline-flex;

  &-large {
    font-size: $icon-width-large;
  }
  &-middle {
    font-size: $icon-width-middle;
  }
  &-small {
    font-size: $icon-width-small;
  }

  &-spin {
    animation: rotate $icon-animation-duration linear infinite;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
