$icon-width-large: var(--icon-width-large, 40px); // 图标尺寸-大
$icon-width-middle: var(--icon-width-middle, 30px); // 图标尺寸-中
$icon-width-small: var(--icon-width-small, 20px); // 图标尺寸-小

$icon-animation-duration: var(--icon-animation-duration, 1s); // 图标旋转时长
