@import './variables.scss';
$module: ud-tabs;

.#{$module} {
	display: flex;
	flex: 1 1 0%;
	&-header {
		display: flex;
		overflow: hidden;
	}
	&-content {
		padding: 30px;
	}
	&-tab {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		cursor: pointer;
	}
	&-tab-small {
		padding: $tabs-padding-tab-small;
	}
	&-tab-middle {
		padding: $tabs-padding-tab-middle;
	}
	&-tab-large {
		font-size: $tabs-font-size-large;
		div {
			font-size: $tabs-font-size-large;
		}
		padding: $tabs-padding-tab-large;
	}
	&-disabled {
		opacity: 0.5;
		user-select: none;
		cursor: not-allowed;
	}
	&-position-top {
		flex-direction: column;
		.#{$module}-header {
			border-bottom: $tabs-border-width $tabs-border-style $tabs-border-color;
			li {
				margin-right: $tabs-margin-tab;
			}
		}
		.#{$module}-type-line {
			.#{$module}-tab {
				border-bottom-width: 2px;
			}
		}
		.#{$module}-type-card {
			.#{$module}-tab {
				border-radius: $tabs-border-radius $tabs-border-radius 0 0;
			}
		}
	}
	&-position-bottom {
		flex-direction: column;
		.#{$module}-header {
			border-top: $tabs-border-width $tabs-border-style $tabs-border-color;
			li {
				margin-right: $tabs-margin-tab;
			}
		}
		.#{$module}-type-line {
			.#{$module}-tab {
				border-top-width: 2px;
			}
		}
		.#{$module}-type-card {
			.#{$module}-tab {
				border-radius: 0 0 $tabs-border-radius $tabs-border-radius;
			}
		}
	}
	&-position-left {
		flex-direction: row;
		.#{$module}-header {
			border-right: $tabs-border-width $tabs-border-style $tabs-border-color;
			li {
				margin-bottom: $tabs-margin-tab;
			}
		}
		.#{$module}-header {
			flex-direction: column;
		}
		.#{$module}-type-line {
			.#{$module}-tab {
				border-right-width: 2px;
			}
		}
		.#{$module}-type-card {
			.#{$module}-tab {
				border-radius: $tabs-border-radius 0 0 $tabs-border-radius;
			}
		}
	}
	&-position-right {
		.#{$module}-header {
			border-left: $tabs-border-width $tabs-border-style $tabs-border-color;
			li {
				margin-bottom: $tabs-margin-tab;
			}
		}
		.#{$module}-header {
			flex-direction: column;
		}
		.#{$module}-type-line {
			.#{$module}-tab {
				border-left-width: 2px;
			}
		}
		.#{$module}-type-card {
			.#{$module}-tab {
				border-radius: 0 $tabs-border-radius $tabs-border-radius 0;
			}
		}
	}
	&-position-center {
		justify-content: center;
	}
	&-position-around {
		justify-content: space-around;
	}
	&-type-line {
		.#{$module}-active {
			border-color:  $tabs-color-primary-active;
		}
		.#{$module}-unactive {
			border-color: transparent;
		}
	}
	&-type-card {
		.#{$module}-active {
			background: $tabs-color-primary-active;
			color: #fff;
		}
		.#{$module}-unactive {
			background: $tabs-color-primary-unactive;
		}
	}
	&-type-button {
		flex-direction: row;
		border: none!important;
		.#{$module}-tab {
			border-radius: $tabs-border-radius;
		}
		.#{$module}-active {
			background: $tabs-color-primary-active;
			color: #fff;
		}
		.#{$module}-unactive {
			background: $tabs-color-primary-unactive;
		}
	}
	&-type-switch {
		background: $tabs-color-primary-unactive;
		border-radius: 999px;
		border: none!important;
		li {
			border-radius: 999px;
		}
		.#{$module}-active {
			border-width: $tabs-border-width;
			background: #fff;
		}
		.#{$module}-unactive {
			background: $tabs-color-primary-unactive;
			border-color: transparent;
			border-width: $tabs-border-width;
		}
	}
}