@import '../../global/variables.scss';

$module: ud-col;

$width: 4.166666%;

.#{$module} {
  &-0 {
    display: none;
  }

  @for $i from 1 through 24 {
    &-#{$i} {
      display: block;
      flex: 0 0 $width * $i;
      max-width: $width * $i;
    }

    &-pull-#{$i} {
      position: relative;
      right: $width * $i;
    }

    &-push-#{$i} {
      position: relative;
      left: $width * $i;
    }

    &-offset-#{$i} {
      margin-left: $width * $i;
    }

    &-order-#{$i} {
      order: $i;
    }
  }

  @each $value, $key in ($breakpoint-xs, xs), ($breakpoint-sm, sm), ($breakpoint-md, md), ($breakpoint-lg, lg), ($breakpoint-xl, xl), ($breakpoint-xxl, xxl) {
    @media screen and (min-width: $value) {
      @for $i from 1 through 24 {
        &-#{$key}-#{$i} {
          display: block;
          max-width: $width * $i;
          flex: 0 0 $width * $i;
        }

        &-#{$key}-pull-#{$i} {
          position: relative;
          right: $width * $i;
        }

        &-#{$key}-push-#{$i} {
          position: relative;
          left: $width * $i;
        }

        &-#{$key}-order-#{$i} {
          order: $i;
        }

        &-#{$key}-offset-#{$i} {
          margin-left: $width * $i;
        }
      }
    }
  }
}
