$module: ud-divider;

.#{$module} {
    --color: var( --ud-divider-color,rgb(var(--ud-gray-12)));
    --border-width: var(--ud-divider-border-width, 1px);
    --font-size: var(--ud-divider-font-size, 16px);
    --border-color: var(--ud-divider-border-color, rgb(var(--ud-gray-3)));
    color: var(--color);
    
    margin: 16px 0;

    span {
        padding: 0;
        margin: 0;
    }

    display: flex;
    width: 100%;

    :last-child,
    :first-child {
        border-top: var(--border-width) solid var(--border-color);
    }
    &-default {

        :last-child,
        :first-child {
            width: 50%;
            margin: 24px 0;
        }
    }

    &-text {
        font-weight: bold;

        .text {
            padding: 0 20px;
            white-space: nowrap;
            font-size: var(--font-size);
        }

        :first-child,
        :last-child {
            position: relative;
            top: 50%;
            width: 50%;
            border-bottom: 0;
            transform: translateY(50%);
        }
    }

    &-text-left {
        :first-child {
            width: 5%;
        }

        :last-child {
            width: 95%;
        }
    }

    &-text-right {
        :first-child {
            width: 95%;
        }

        :last-child {
            width: 5%;
        }
    }

    &-plain {
        font-weight: normal;
        color: inherit;
    }

    &-dashed {

        :last-child,
        :first-child {
            margin: 24px 0;
            border-top-style: dashed;
        }
    }

    &-text-dashed {

        :last-child,
        :first-child {
            border-style: dashed !important;
        }
    }

    &-vertical {
        width: 0;
        position: relative;
        top: -0.06em;
        display: inline-block;
        height: 0.9em;
        margin: 0 8px;
        vertical-align: middle;
        border-top: 0;
        border-left: var(--border-width) solid var(--border-color); 
    }

    &-dashed-vertical {
        border-left: var(--border-width) solid var(--border-color);
    }

    &-orientation-margin-left {
        span {
            display: inline-block;
            width: 0;
        }

        .text {
            width: auto;
            padding-right: 20px;
            white-space: nowrap;
            font-weight: bold;
        }

        :last-child {
            width: 100%;
            transform: translateY(50%);
        }
    }
    .text{
        width: auto;
    }
    &-orientation-margin-right {
        span {
            display: inline-block;
            width: 0;
        }

        .text {
            padding-left: 20px;
            white-space: nowrap;
            font-weight: bold;
        }

        :first-child {
            width: 100%;
            transform: translateY(50%);
        }
    }

    &-orientation-margin-center {
        span {
            display: inline-block;
            width: 50%;
        }

        .text {
            padding: 0 20px;
            white-space: nowrap;
            font-weight: bold;
        }
    }
}
