@import './variables.scss';

$module: ud-divider;

.#{$module} {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  color: $divider-text-color;
  border-top: $divider-border-width solid $divider-border-color;

  .#{$module}-inner-text {
    display: inline-block;
    padding: $divider-text-padding;
    font-size: $divider-text-font-size;
    font-weight: $divider-text-font-weight;
  }

  &-with-text {
    border: 0;
    white-space: nowrap;

    &::after,
    &::before {
      content: '';
      position: relative;
      top: 50%;
      width: 50%;
      border-top: $divider-border-width solid $divider-border-color;
      border-bottom: 0;
      transform: translateY(50%);
    }
  }

  &-with-text-left {
    &::before {
      width: 5%;
    }

    &::after {
      width: 95%;
    }
  }

  &-with-text-right {
    &::before {
      width: 95%;
    }

    &::after {
      width: 5%;
    }
  }

  &-no-default-orientation-margin-left {
    &::before {
      width: 0;
    }
    .#{$module}-inner-text {
      padding-left: 0;
    }
  }

  &-no-default-orientation-margin-right {
    .#{$module}-inner-text {
      padding-right: 0;
    }
    &::after {
      width: 0;
    }
  }

  &-dashed {
    border-style: dashed;

    &::before {
      border-style: dashed;
    }
    &::after {
      border-style: dashed;
    }
  }
}

.#{$module}-vertical {
  position: relative;
  top: -0.06em;
  display: inline-block;
  height: $divider-vertical-height;
  margin: $divider-vertical-margin;
  vertical-align: middle;
  border-left: $divider-border-width solid $divider-border-color;
}
